.new-message-modal {
  margin-bottom: -15px;

  &__friends-block {
    height: 286px;
    overflow: auto;
    margin-bottom: 16px;
    padding-right: 8px;

    & > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 21px;
    margin-right: 17px;
    width: 21px;
  }

  &__search {
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    width: 339px;

    svg {
      height: 16px;
      left: 17px;
      width: 16px;
    }

    input {
      font-size: 1rem;
      font-weight: normal;
      line-height: 19px;
      text-indent: 50px;
    }
  }

  &__new-group {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-bottom: 16px;
    margin-top: 24px;
    position: relative;
    user-select: none;

    &__img {
      align-items: center;
      background-color: var(--dt-whiter-wt-bright-blue);
      border-radius: 6px;
      display: flex;
      height: 48px;
      justify-content: center;
      width: 48px;

      svg {
        color: #3f8ae0;
        height: 24px;
        width: 24px;
      }
    }

    &__title {
      color: var(--dt-white-wt-dark);
      font-size: 1rem;
      font-weight: normal;
      line-height: 19px;
      margin-left: 20px;
    }

    &__go {
      position: absolute;
      right: 0;

      svg {
        color: var(--dt-kingBlue-wt-kingBlueLight);
        width: 14px;
      }
    }
  }
}
