.dropdown {
  &__select-wrapper {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--dt-white-wt-dark);
    display: inline-block;
    font-size: 0.6875rem;
    font-weight: 400;
    position: relative;
    z-index: 5555;
  }

  &__select {
    align-items: center;
    background: var(--dt-dark-wt-bright-blue);
    border-radius: 4px 4px 0 0;
    color: var(--dt-white-wt-dark);
    display: flex;
    padding: 8px 16px;
    position: relative;

    span {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 14px;
      margin-right: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 185px;
    }

    &--disabled {
      color: gray;
      cursor: unset;

      svg {
        color: gray;
      }
    }
  }

  &__icon {
    color: var(--dt-white-wt-dark);
    height: 13px;
    margin-left: auto;
    right: 12px;
    transform: rotate(90deg);
    transition: all 0.1s;
    width: 13px;

    &--opened {
      transform: rotate(-90deg);
    }
  }

  &__select-block {
    background: var(--chat-bg-dt-dark-wt-bright-blue);
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 30px;
    width: 100%;

    &__option {
      background: var(--chat-bg-dt-dark-wt-bright-blue);
      cursor: pointer;
      font-size: 0.75rem;

      font-weight: 300;
      line-height: 14px;
      overflow: hidden;
      padding: 12px;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;

      &:hover {
        background-color: var(--chat-bg-dt-dark-wt-kingBlueLight-transparent);
        color: #3f8ae0;
      }
    }
  }
}
