.language-settings {
  padding: 33px 39px;

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 33px;
    margin-bottom: 40px;
  }

  &__language {
    background: var(--chat-bg-dt-dark-wt-bright-blue);
    border-radius: 6px;
    margin-top: 16px;

    &:hover {
      background: var(--dt-dark-wt-kingBlueLight);
    }

    &--active {
      background: var(--dt-dark-wt-kingBlueLight);
    }

    & > * {
      padding: 18px 44px 18px 40px;
    }
  }

  &__icon {
    margin-left: 8px;
  }

  &__language-name {
    color: var(--dt-white-wt-dark);
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 21px;
    margin-left: 24px;
  }

  &__language-country {
    color: var(--dt-kingBlue-wt-kingBlueLight);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    margin-left: auto;
  }
}
