.button {
  display: flex;
  transition: all 0.2s;
  align-items: center;
  justify-content: center;

  &--loading {
    & > div {
      width: 17px;
      opacity: 1;
      margin-left: 13px;
      margin-right: -12px;
    }
  }

  &__contents {
    display: flex;
    align-items: center;
  }

  &__loader-wrapper {
    width: 0;
    opacity: 0;
    transition: width 0.2s;
    position: relative;
    font-size: 17px;
  }
  &__loader {
    width: 1em;
    height: 1em;
    border-top: 0.1em solid #fff;
    border-right: 0.1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.6s linear infinite;

    & > div {
      width: 0.1em;
      height: 0.1em;
      background-color: #fff;
      border-radius: 50%;
      margin-left: 0.85em;
      margin-top: 0.05em;
    }

    &--themed {
      border-top: 0.1em solid var(--dt-white-wt-dark);
    }
  }
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
