.avatar {
  color: #fafafa;
  background-color: #bdbdbd;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: inherit;
  line-height: 1;
  user-select: none;
  border-radius: 6px;
  justify-content: center;
}
