.sessions-list {
  background: var(--dt-dark-wt-white);
  border-radius: 6px;
  margin-top: 35px;

  &__header {
    padding: 18px 20px;
    display: flex;
    align-items: center;

    span {
      color: var(--dt-white-wt-dark);
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
    }

    &__open {
      margin-left: auto;
      transition: all 0.2s;
      svg {
        color: var(--dt-white-wt-dark);
        width: 24px;
        height: 24px;
      }

      &--opened {
        transform: rotate(90deg);
      }
    }
  }
}
