.photo-editor {
  max-width: 520px;
  margin-top: 32px;

  &__btn-block {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
  }

  &__crop-container {
    width: 522px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    height: 338px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__btn-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__modify-btn {
    border: 1px solid var(--dt-white-wt-kingBlue);
    border-radius: 6px;
    color: var(--dt-white-wt-kingBlue);
    padding: 9px 20px;
    position: relative;

    &:not(:last-child) {
      margin-right: 78px;
    }

    &:focus {
      border: 1px solid var(--dt-white-wt-kingBlue);
    }

    &:hover > * {
      opacity: 1;
      visibility: visible;
    }
  }

  &__slider-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
  }

  &__slider-peisage {
    color: var(--dt-white-wt-kingBlue);
    &--big {
      width: 24px;
      height: 20px;
    }

    &--little {
      width: 18px;
      height: 15px;
    }
  }

  &__slider-container {
    position: relative;
    width: 62.11%;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
  }

  &__btn {
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    padding: 10px 30px;

    &--confirm {
      background: #3f8ae0;
      color: #fff;

      &:hover {
        box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
      }

      &:disabled {
        --bg-color: var(--disabled-btn);
        background: var(--disabled-btn);
        color: var(--disabled-btn-text);
      }
    }

    &--cancel {
      background: transparent;
      margin-left: auto;
      margin-right: 13px;
    }
  }
}
