.status-badge {
  position: relative;

  &__indicator {
    border: 3px solid currentColor;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 16px;
    position: absolute;
    right: -3px;
    top: -3px;
    width: 16px;
    z-index: 7;

    &--online {
      animation: pulse 2s infinite;
      background-color: #3f8ae0;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
    }

    &--offline {
      background-color: #c74848;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    transform: scale(0.95);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(0.95);
  }
}
