.change-phone-modal {
  margin-bottom: 50px;
  margin-top: 12px;
  position: relative;

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__input {
    margin-top: 30px;
    width: 100%;
  }

  &__btn {
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding: 10px 17px;
    overflow: hidden;

    &--cancel {
      background: transparent;
      margin-right: 33px;
    }

    &--submit {
      background: #3f8ae0;
      color: #fff;

      &:hover {
        box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
      }
    }

    &:disabled {
      background: var(--disabled-btn);
      color: var(--disabled-btn-text);
    }
  }

  &__details {
    color: var(--dt-white-wt-dark);
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-bottom: -32px;
    margin-top: 16px;
  }

  &__resend {
    color: var(--dt-white-wt-dark);
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: -37px;
    margin-top: 16px;
    display: flex;
    cursor: pointer;
  }

  &__back-icon {
    svg {
      color: var(--dt-white-wt-kingBlue);
      height: 12px;
      width: 12px;
    }
  }
}
