.chat-members {
  margin-top: 30px;

  &__heading-block {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    margin-left: 16px;
    color: var(--king-blue);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  &__open-arrow {
    color: var(--king-blue);
    transition: all 0.2s;
    margin-left: auto;
    margin-right: 20px;
    transform: rotate(-90deg);

    svg {
      height: 8px;
      width: 14px;
    }

    &--rotated {
      transform: rotate(0deg);
    }
  }

  &__search {
    margin-bottom: 20px;
  }
}
