.chat-members {
  margin-top: 30px;

  &__heading-block {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    margin-left: 24px;
    color: #3f8ae0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  &__open-arrow {
    color: #3f8ae0;
    transition: all 0.2s;
    margin-left: auto;
    margin-right: 24px;
    transform: rotate(-90deg);

    svg {
      height: 8px;
      width: 14px;
    }

    &--rotated {
      transform: rotate(0deg);
    }
  }

  &__search {
    margin-right: 7px;
  }

  &__search-container {
    height: 40px;

    input {
      text-indent: 50px;
    }
  }

  &__members-list {
    margin-top: -12px;
  }
}
