.chat-members {
  margin-top: 30px;

  &__heading-block {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    margin-left: 16px;
    color: var(--secondary);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  &__open-arrow {
    color: var(--secondary);
    transition: all 0.2s;
    margin-left: auto;
    margin-right: 20px;
    transform: rotate(-90deg);

    svg {
      height: 8px;
      width: 14px;
    }

    &--rotated {
      transform: rotate(0deg);
    }
  }

  &__search {
    margin-bottom: 20px;
  }

  &__members-list {
    .loader {
      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
      }
    }
  }
}
