.dropdown {
  &__select-wrapper {
    color: var(--dt-white-wt-dark);
    font-size: 11px;
    font-weight: 400;
    border-radius: 4px;
    position: relative;
    border: none;
    display: inline-block;
  }

  &__select {
    position: relative;
    color: var(--dt-white-wt-dark);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    background: var(--dt-dark-wt-bright-blue);
    border-radius: 4px 4px 0px 0px;

    span {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      margin-right: 16px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--disabled {
      cursor: unset;
      color: gray;
      svg {
        color: gray;
      }
    }
  }

  &__icon {
    height: 16px;
    width: 16px;
    right: 12px;
    color: var(--dt-white-wt-dark);
    margin-left: auto;
    transition: all 0.1s;
    transform: rotate(90deg);

    &--opened {
      transform: rotate(-90deg);
    }
  }

  &__select-block {
    position: absolute;
    top: 30px;
    width: 100%;
    background: var(--chat-bg-dt-dark-wt-bright-blue);
    border-radius: 0 0 6px 6px;

    &__option {
      padding: 12px;
      background: var(--chat-bg-dt-dark-wt-bright-blue);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      user-select: none;

      font-weight: 300;
      font-size: 12px;
      line-height: 14px;

      &:hover {
        color: #3f8ae0;
        background-color: var(--chat-bg-dt-dark-wt-kingBlueLight-transparent);
      }
    }
  }
}
