.chat-photo {
  &__photo-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__photo {
    width: 126px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
  }

  &__separator {
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;

    &:not(:nth-child(2)) {
      margin-top: 20px;
    }
  }
}
