.loader {
  display: inline-block;
  position: relative;

  &--SMALL {
    width: 20px;
    height: 20px;
  }

  &--MEDIUM {
    width: 40px;
    height: 40px;
  }

  &--LARGE {
    width: 60px;
    height: 60px;
  }

  &__div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;

    &--SMALL {
      width: 16px;
      height: 16px;
    }

    &--MEDIUM {
      width: 36px;
      height: 36px;
    }

    &--LARGE {
      width: 56px;
      height: 56px;
    }

    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  &__centered {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
