.chat-from-list {
	padding: 14px 20px;
	display: flex;
	align-items: stretch;
	margin: 0;
	position: relative;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: none;

	&:first-of-type {
		margin-top: 18px;
	}

	&:hover {
		background-color: rgba($color: #3f8ae0, $alpha: 0.1);
	}

	&__heading {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	&__active-line {
		display: none;
		background-color: #3f8ae0;
		height: 100%;
		width: 4px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0px 10px 10px 0;
	}

	&__contents {
		justify-content: flex-start;
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&--active {
		background-color: rgba($color: #3f8ae0, $alpha: 0.1);

		& > .chat-from-list__active-line {
			display: block;
		}
	}

	&__status {
		position: absolute;
		left: 74%;
		top: 15%;
	}

	&__avatar {
		width: 52px;
		height: 52px;
	}

	&__avatar-container {
		margin-right: 14px;
	}

	&__name {
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 6px;
		max-width: max-content;
	}

	&__last-message {
		font-size: 14px;
		font-weight: 400;
		color: #6d7885;
		margin-top: 2px;
		word-break: break-all;
		max-width: 90%;
	}

	&__time {
		font-size: 11px;
		font-weight: 400px;
		color: #868686;
		white-space: nowrap;
	}

	&__count {
		background-color: #3f8ae0;
		color: white;
		border-radius: 6px;
		font-size: 13px;
		line-height: 16px;
		padding: 3px 7px;
		font-weight: 500;
		position: absolute;
		right: 20px;
		bottom: 18px;

		&--muted {
			background-color: #6d7885;
		}
	}
}
