.messenger {
	&__active-line {
		display: none;
		background-color: #3f8ae0;
		height: 100%;
		width: 4px;
		position: absolute;
		left: 0;
	}

	&__chat-block {
		padding: 14px 20px;
		display: flex;
		align-items: center;
		margin: 0;
		position: relative;

		&:hover {
			background-color: rgba($color: #3f8ae0, $alpha: 0.1);
		}
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		text-decoration: none;

		&--active {
			background-color: rgba($color: #3f8ae0, $alpha: 0.1);

			& > .messenger__active-line {
				display: block;
			}
		}

		&__avatar {
			width: 52px;
			height: 52px;
		}
	}

	&__chat-img {
		border-radius: 50%;
		height: 48px;
		width: 48px;
	}

	&__name-and-message {
		margin-left: 14px;
	}

	&__name {
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 6px;
		max-width: max-content;
	}

	&__last-photo {
		height: 16px;
		width: 16px;
		border-radius: 50%;
	}

	&__last-message {
		font-size: 14px;
		font-weight: 400;
		color: #6d7885;
	}

	&__time-and-count {
		margin-left: auto;
		margin-bottom: auto;
	}

	&__time {
		font-size: 11px;
		font-weight: 400px;
		color: #868686;
	}

	&__count {
		background-color: #33a909;
		color: white;
		font-size: 10px;
		height: 16px;
		min-width: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 16px;
		font-weight: 400;
		font-size: 14px;

		&--muted {
			background-color: gray;
		}
	}
}
