.media-grid {
  display: inline-flex;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -10px !important;

  & > * {
    margin-top: 10px;

    &:nth-child(2n + 1) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &--1 {
    max-height: 428px;
    max-width: 284px;
    margin-right: 0;

    & > * {
      object-fit: cover;
      margin-bottom: 0;

      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  &--even {
    & > * {
      max-height: 430px;
      max-width: 280px;
    }
  }

  &--odd {
    display: block;
    & > * {
      max-height: 430px;
      max-width: 280px;
      margin-right: 0;
    }
  }
}
