.messenger {
	&__send-message {
		display: flex;
		align-items: center;
	}

	&__add {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-left: 23px;
	}

	&__input-group {
		width: calc(100% - 52px);
		height: 50px;
		display: flex;
		align-items: center;
	}

	&__input-message {
		line-height: 20px;
		display: block;
		border: none;
		width: calc(100% - 52px);
		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #a7a7af;

			text-indent: 18px;
		}
	}

	&__right-btns {
		margin-right: 20px;
		display: flex;
	}

	&__smiles-btn {
		margin-right: 10px;
	}
}

.emoji-wrapper {
	position: absolute;
	bottom: 56px;
	right: 25px;
}

svg.blue {
	fill: blue;
}

svg.black {
	fill: black;
}
