.messenger {
	&__send-message {
		display: flex;
		align-items: center;
	}

	&__display-smiles {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: #ebebeb;
		margin: 0 10px;
		svg {
			width: 16px;
			height: 16px;
		}
	}

	&__input-group {
		width: calc(100% - 52px);
		height: 50px;
		display: flex;
		align-items: center;
	}

	&__input-message {
		line-height: 20px;
		display: block;
		border: none;
		width: calc(100% - 52px);
		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #a7a7af;
		}
	}

	&__send-btn {
		width: 32px;
		height: 32px;
		background-color: #697cff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;

		svg {
			width: 16px;
			fill: white;
		}
	}
}

.emoji-wrapper {
	position: absolute;
	bottom: 56px;
	left: 5px;
}

svg.blue {
	fill: blue;
}

svg.black {
	fill: black;
}
