.search-top {
  align-items: center;
  background: var(--dt-dark-wt-white);
  display: flex;
  justify-content: flex-start;

  &__search-container {
    height: 32px;
    margin: 16px 0 16px 20px;
  }

  &__search-icon {
    height: 18px;
    left: 18px;
    width: 18px;
  }

  &__search-input {
    font-weight: 300;
    height: 32px;
    text-indent: 58px;
  }

  &__create-chat-btn {
    margin-left: 23px;
    margin-right: 20px;

    svg {
      color: #3f8ae0;
    }
  }
}
