.chat-data {
  &__chat-data {
    grid-row: 1/2;
    grid-column: 3/5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);

    &--little {
      width: calc(100% - 300px);
    }
    transition: all 0.3s;
  }

  &__contact-data {
    display: flex;
    cursor: pointer;
    user-select: none;
  }

  &__contact-img-container {
    margin-left: 20px;
    margin-right: 18px;
  }

  &__contact-img {
    height: 48px;
    width: 48px;
  }

  &__chat-info {
    color: var(--ternary);
    color: var(--ternary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    p {
      margin-top: 8px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }
  }

  &__buttons-group {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    color: var(--secondary);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 4px;
    transition: all 0.2s;
    &:last-child {
      margin-right: 14px;
    }

    &:hover {
      background-color: rgba($color: rgb(63, 138, 224), $alpha: 0.1);
    }

    &--active {
      background-color: rgba($color: rgb(63, 138, 224), $alpha: 0.1);
    }
  }
}
