.chat-data {
  &__chat-data {
    grid-row: 1/2;
    grid-column: 3/5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dt-grafit-wt-white);

    &--little {
      width: calc(100% - 300px);
    }
    transition: all 0.3s;
  }

  &__contact-data {
    display: flex;
    cursor: pointer;
    user-select: none;
  }

  &__contact-img-container {
    margin-left: 20px;
    margin-right: 18px;
    color: var(--dt-grafit-wt-white);
  }

  &__contact-img {
    height: 48px;
    width: 48px;
  }

  &__chat-info {
    color: var(--dt-white-wt-dark);
    color: var(--dt-white-wt-dark);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    p {
      margin-top: 8px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }
  }

  &__buttons-group {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    color: var(--dt-white-wt-dark);
    margin-right: 32px;

    &--active {
      color: var(--dt-kingBlue-wt-kingBlueLight);
    }

    &:last-child {
      margin-right: 24px;
    }
  }
}
