.contact-search {
	margin-top: -64px;
	height: 0px;
	background-color: white;
	z-index: 100;
	position: relative;
	left: -150px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;

	grid-row: 2/3;
	grid-column: 2/3;

	&--active {
		visibility: visible;
		opacity: 1;
		left: 0;
		height: 100vh;
	}

	&__header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: space-between;
		height: 49px;
		align-items: center;
		.svg {
			height: 16px;
			width: 16px;
		}
	}

	&__back {
		margin-left: 16px;
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		span {
			text-indent: 5px;
		}
	}

	&__contact-name {
		font-size: 14px;
		line-height: 1.5;
		height: 30px;
		border: none;
		display: block;
		border-bottom: 1px solid #e9e9e9;
		width: 100%;
		text-indent: 20px;
		margin-top: 20px;

		&:focus {
			outline: none;
		}
	}
}
