.chat {
  &__messages-group {
    display: flex;
    flex-direction: column-reverse;
  }

  &__messages-list {
    flex: 1 1;
    overflow: auto;
    position: relative;

    &__empty {
      background-color: var(--chat-bg-dt-dark-wt-bright-blue);
      border-radius: 6px;
      box-shadow: 0 7px 12px var(--box-shadow-1);
      color: var(--dt-white-wt-dark);
      margin: auto;
      max-width: 415px;
      padding: 16px 0;

      p {
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
      }
    }
  }

  &__select-chat {
    color: var(--dt-kingBlue-wt-kingBlueLight);
    font-size: 24px;
    font-weight: 400;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__messages-container {
    background: var(--chat-bg-dt-dark-wt-whiter);
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    max-height: calc(100vh - 128px);
    overflow: auto;
  }
}
