.chat {
  &__messages-group {
    display: flex;
    flex-direction: column-reverse;
  }

  &__messages-list {
    flex: 1 1;
    overflow: auto;
    position: relative;

    &__empty {
      background-color: var(--dt-dark-wt-white);
      border-radius: 6px;
      box-shadow: 0 7px 12px var(--box-shadow-1);
      color: var(--dt-white-wt-dark);
      margin: auto;
      max-width: 415px;
      padding: 16px 18px;

      p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
      }
    }

    &__scroll {
      flex-direction: column-reverse;
    }
  }

  &__select-chat {
    color: var(--dt-kingBlue-wt-kingBlueLight);
    font-size: 1.5rem;
    font-weight: 400;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__messages-container {
    background: var(--chat-bg-dt-dark-wt-whiter);
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    max-height: calc(100vh - 128px);
    overflow: auto;
  }

  &__separator {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    margin-top: 14px;
    position: sticky;
    top: 20px;
    text-transform: capitalize;
  }

  &__separator-date {
    background-color: rgba(63, 138, 224, 0.25);
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 14px;
    padding: 4px 16px;
  }
}
