.edit-profile {
  &__back {
    svg {
      color: #3f8ae0;
    }
  }

  &__photo-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid #d7d8d9;
  }

  &__avatar-wrapper {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__account-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__remove-photo {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeff0;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__upload-photo {
    color: #3f8ae0;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 6px;
  }

  &__photo-requirements {
    color: #979797;
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 18px;
  }

  &__data-category {
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &:first-child {
      margin-top: 20px;
    }

    svg {
      width: 20px;
      height: 20px;
      color: #3f8ae0;
    }
  }

  &__data-field {
    margin-left: 10px;
    margin-top: 4px;
  }

  &__data-value {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: black;

    margin-bottom: 6px;
  }

  &__data-category {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #6d7885;
  }

  &__edit {
    margin-left: auto;
    margin-top: 11px;

    svg {
      color: rgb(153, 162, 173);
    }
  }
}
