.file-attachment {
	display: flex;
	align-items: center;
	margin-top: 10px;

	&__download {
		background: rgba(218, 228, 234, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgba($color: #3f8ae0, $alpha: 0.2);
		margin-right: 10px;
		height: 40px;
		cursor: pointer;
		width: 40px;

		svg {
			width: 20px;
			height: 20px;
			color: #3f8ae0;
		}
	}

	&__cancel {
		background: rgba(218, 228, 234, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3f8ae0;
		margin-right: 10px;
		height: 40px;
		position: relative;
		cursor: pointer;
		width: 40px;
	}

	&__close-svg {
		width: 16px;
		height: 16px;
		color: #3f8ae0;
	}

	&__progress-svg {
		color: #3f8ae0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;

		circle {
			position: absolute;
			fill: none;
			stroke-width: 2;
			transform: translate(2px, 2px);
			stroke-dasharray: 440;
			stroke-linecap: round;
		}

		circle:nth-child(1) {
			stroke-dashoffset: 0;
			stroke: #424242;
		}
	}

	&__file-name {
		margin-bottom: 4px;
		cursor: pointer;
		font-size: 13px;
		line-height: 18px;
		font-weight: 400;
	}

	&__file-size {
		font-size: 11px;
		line-height: 14px;
		color: #6d7885;
		font-weight: 400;
	}
}
