.file-attachment {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;

  &__data {
    max-width: 250px;
  }

  &__download {
    background: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 40px;
    cursor: pointer;
    width: 40px;
    border-radius: 0px 6px 6px 6px;

    svg {
      color: var(--dt-white-wt-dark);
    }
  }

  &__cancel {
    background: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 40px;
    position: relative;
    cursor: pointer;
    width: 40px;
    border-radius: 0px 6px 6px 6px;

    svg {
      color: var(--dt-white-wt-dark);
    }
  }

  &__progress-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    height: 24px;
    width: 24px;
    transition: all 0.1s;
    circle {
      transition: all 0.1s;
    }
  }

  &__file-name {
    margin-bottom: 9px;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    color: var(--dt-kingBlue-wt-kingBlueLight);
    text-overflow: ellipsis;
  }

  &__file-size {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: var(--dt-white-wt-dark);
  }
}
