.background-blur {
  backdrop-filter: blur(3px);
  background-color: var(--modals-bg);
  border-radius: 6px;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 50;

  transition: opacity var(--ANIMATION-DURATION);
  animation: fade var(--ANIMATION-DURATION);

  &--close {
    opacity: 0;
  }

  &--no-animated-open {
    animation: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
