.edit-profile {
  padding-left: 40px;
  display: inline-flex;
  flex-direction: column;

  &__title {
    color: var(--white);
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    margin: 38px 0 40px 0;

    &--phone {
      margin-top: 32px;
    }

    &--delete {
      margin-top: 80px;
    }
  }

  &__photo-data {
    display: flex;
  }

  &__avatar-wrapper {
    width: 148px;
    height: 148px;
    background-color: var(--dark-blue);
    position: relative;
    margin-right: 31px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__top-line {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 30;
    }

    &__bottom-line {
      position: absolute;
      bottom: -5px;
      right: -5px;
      z-index: 30;
    }
  }

  &__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &__avatar-icon {
    width: 68px;
    height: 78px;
    color: var(--white);
  }

  &__avatar-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__avatar-upload-btn {
    padding: 18px 45px 18px 35px;
    border-radius: 6px;
    background: var(--msg-bg);
    margin-bottom: 11px;
    display: flex;
    align-items: center;

    span {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      margin-left: 16px;
      color: var(--white);
    }

    svg {
      color: var(--white);
      height: 24px;
      width: 24px;
    }
  }

  &__avatar-requirements {
    color: var(--white);
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }

  &__input-block {
    width: 578px;
    height: 60px;
    border-radius: 6px;
    position: relative;
    background: var(--msg-bg);
    margin-top: 30px;
  }

  &__input-label {
    padding: 2px 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--white);
    z-index: 33;
    background: var(--dark);
    border-radius: 6px;
    position: absolute;
    left: 16px;
    top: -16px;
  }

  &__input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    border: none;
    box-sizing: border-box;
    padding: 20px 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--white);
  }

  &__btn {
    padding: 10px 17px;
    border-radius: 6px;
    background: var(--king-blue);
    margin-left: auto;
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    &--personal {
      margin-top: 32px;
    }

    &--delete {
      background: var(--red);
    }
  }

  &__phone-data {
    margin-top: -9px;
    display: flex;
    align-items: center;
  }

  &__phone {
    color: var(--white);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &__phone-details {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
  }

  &__delete-data {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-top: -6px;
  }

  &__delete-details {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
  }
}
