.chat-video {
  .loader {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  &__video-container {
    overflow-y: scroll;
    margin: 0 12px 0 20px;

    display: flex;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__video {
    cursor: pointer;
    width: 126px;
    height: 120px;
    object-fit: cover;
  }

  &__video-wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-right: 8px;
  }

  &__separator {
    text-transform: capitalize;
    width: 100%;

    font-size: 11px;
    font-weight: 500;
    line-height: 16px;

    &:not(:nth-child(2)) {
      margin-top: 20px;
    }
  }

  &__play {
    position: absolute;
    bottom: 6px;
    left: 6px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 4px 8px;

    svg {
      height: 12px;
      width: 12px;
      margin-right: 6px;
      color: white;
    }
  }

  &__duration {
    font-size: 11px;
    font-weight: 500;
    color: white;
  }
}
