.chat-video {
  &__video-container {
    overflow-y: scroll;

    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__video {
    width: 148px;
    height: 98px;
    object-fit: cover;
    cursor: pointer;
  }

  &__blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--blur-color);
    top: 0;
    left: 0;
  }

  &__video-wrapper {
    position: relative;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  &__separator {
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #3f8ae0;

    &:first-child {
      margin-top: 17px;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      color: #fff;
    }
  }

  &__duration {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: var(--dt-white-wt-dark);
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
