.search-top {
	display: flex;
	justify-content: flex-start;

	&__search {
		display: flex;
		align-items: center;
		border-radius: 10px;
		background: #ebedf0;
		margin-top: 20px;
		width: 79%;
		height: 36px;
		position: relative;
		margin-left: 18px;
	}

	&__create-chat-btn {
		width: 24px;
		height: 24px;
		margin-top: 26px;
		margin-left: 14px;
	}
}
