.search-top {
	display: flex;
	justify-content: flex-start;

	&__burger {
		height: 24px;
		width: 24px;
		margin-top: 26px;
		margin-left: 20px;
		margin-right: 10px;
		color: rgb(153, 162, 173);
	}

	&__search {
		display: flex;
		align-items: center;
		border-radius: 10px;
		background: rgb(235, 237, 240);
		margin-top: 20px;
		width: 67.5%;
		height: 36px;
		position: relative;
	}

	&__create-chat-btn {
		width: 24px;
		height: 24px;
		margin-top: 26px;
		margin-left: 14px;
	}
}
