.search-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__search-container {
    height: 32px;
    margin: 16px 0px 16px 20px;
  }

  &__search-icon {
    width: 18px;
    height: 18px;
    margin-left: 20px;
  }

  &__search-input {
    height: 32px;
    text-indent: 58px;
    font-weight: 300;
  }

  &__create-chat-btn {
    margin-left: 23px;
    margin-right: 20px;

    svg {
      color: var(--secondary);
    }
  }
}
