.message-link {
  margin-left: 10px;
  padding: 3px;
  border-radius: 3px 3px 3px 0;
  background-color: rgba(63, 138, 224, 0.5);
  margin-bottom: 5px;

  &--reply {
    background-color: rgba(63, 138, 224, 0.5);
  }

  &--forward {
    background-color: rgba(224, 127, 63, 0.5);
  }

  &__text {
    font-style: italic;
    margin-left: 5px;
  }

  &__interlocutor {
    color: var(--white);
    margin-bottom: 5px;
    margin-top: 2px;
  }
}
