.incoming-call-draggable {
  z-index: 2287;
}

.incoming-call {
  width: calc(100vw - 203px);
  border-radius: 6px;
  box-shadow: 0px 5px 12px var(--box-shadow-1);
  background-color: var(--dt-dark-wt-bright-blue);
  display: flex;
  align-items: center;
  padding: 8px 60px 8px 24px;

  &__img {
    height: 48px;
    width: 48px;
    border-radius: 6px;
    margin-right: 20px;
  }

  &__calling-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);
    margin-bottom: 8px;
  }

  &__additional-data {
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  &__right-btns {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__call-btn {
    color: var(--dt-white-wt-dark);
    margin-right: 32px;

    svg {
      height: 24px;
      width: 24px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &--accept {
      svg {
        color: #3f8ae0;
      }
    }

    &--video {
      svg {
        color: #3f8ae0;
      }
    }

    &--cancel {
      svg {
        color: #c74848;
      }
    }
  }
}
