.media-modal {
  object-fit: contain;
  z-index: 100;

  &__close {
    color: var(--dt-white-wt-kingBlue);
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;

    svg {
      height: 48px;
      width: 48px;
    }
  }

  &__media-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__player {
    max-height: 60vh;
    max-width: 80vw;
    object-fit: cover;
  }

  &__position-pointer {
    color: var(--dt-white-wt-kingBlue);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 48px;
  }

  &__controls {
    height: 48px;
    width: 48px;

    button {
      svg {
        color: var(--dt-white-wt-kingBlue);
      }
    }

    &--prev {
      margin-right: 48px;
      transform: rotate(-180deg);
    }

    &--next {
      margin-left: 48px;
    }
  }

  &__photo {
    max-width: 70%;
  }

  &__main {
    align-items: center;
    display: flex;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
