.chat-photo {
  &__photo-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__photo {
    width: 148px;
    height: 98px;
    object-fit: cover;
    margin-bottom: 8px;
    margin-right: 5px;
    cursor: pointer;
  }

  &__separator {
    text-transform: capitalize;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #3f8ae0;

    &:first-child {
      margin-top: 17px;
    }
  }
}
