.add-friend {
  align-items: center;
  background: var(--dt-dark-wt-white);
  border-radius: 8px;
  box-shadow: 0 7px 12px var(--box-shadow-1);
  display: inline-flex;
  flex-direction: column;
  padding: 24px 56px;

  &__icon-wrapper {
    align-items: center;
    background-color: var(--chat-bg-dt-dark-wt-kingBlueLight-transparent);
    border-radius: 8px;
    display: flex;
    height: 86px;
    justify-content: center;
    width: 86px;

    svg {
      color: #3f8ae0;
      height: 57px;
      width: 57px;
    }
  }

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
  }

  &__subtitle {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    margin-top: 16px;
    max-width: 240px;
    text-align: center;
  }

  &__btn {
    background: #3f8ae0;
    border-radius: 6px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    margin-top: 24px;
    padding: 10px 105px;

    &:hover {
      box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
    }
  }
}
