.incoming-call {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba($color: #020016, $alpha: 0.9);
  display: flex;

  &__img {
    border-radius: 50%;
    margin: 20px;
    height: 60px;
    width: 60px;
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__calling-name {
    font-size: 14px;
    font-weight: 500px;
    color: #fff;
    margin-bottom: 6px;
  }

  &__additional-data {
    font-size: 14px;
    font-weight: 400;
    color: #6d7885;
  }

  &__right-btns {
    margin-left: auto;
    margin-right: 40px;
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    align-items: center;
  }

  &__call-btn {
    color: var(--white);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    &:last-child {
      margin-right: 40px;
    }

    &--accept {
      background-color: #2dcb56;
    }

    &--video {
      background-color: #2dcb56;
    }

    &--cancel {
      background-color: #ff4d54;
    }
  }
}
