.not-contact {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16px;
  width: calc(100% - 46px);
  left: 50%;
  transform: translateX(-50%);
  background: var(--dt-dark-wt-bright-blue);
  box-shadow: 0px 5px 12px var(--box-shadow-1);
  border-radius: 6px;
  padding: 14px 24px 14px 24px;
  box-sizing: border-box;

  &__contact-icon {
    width: 24px;
    height: 24px;
    color: var(--dt-white-wt-kingBlue);
    margin-right: 22px;
  }

  &__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dt-white-wt-dark);
  }

  &__btn-group {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__btn {
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-right: 32px;
    color: #fff;
    &:hover {
      box-shadow: 0px 3px 6px rgba(14, 22, 43, 0.62);
    }

    &--add {
      padding: 11px 23px;
      background: #3f8ae0;
    }

    &--block {
      padding: 11px 19px;
      background: #c74848;
    }
  }

  &__close-btn {
    svg {
      width: 24px;
      height: 24px;
      color: var(--dt-white-wt-kingBlue);
    }
  }
}
