.logout-modal {
  margin-top: 32px;

  &__btn-block {
    margin-top: 33px;
    display: flex;
    justify-content: flex-end;
  }

  &__сontent {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    min-width: 340px;
  }

  &__btn {
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    padding: 10px 30px;

    &--confirm {
      background: #3f8ae0;
      color: #fff;

      &:hover {
        box-shadow: 0 3px 6px var(--box-shadow-5);
      }
    }

    &--cancel {
      background: transparent;
      margin-left: auto;
      margin-right: 23px;
    }
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }
}
