.call-from-list {
  align-items: center;
  background-color: var(--dt-dark-wt-white);
  color: var(--dt-dark-wt-white);
  cursor: pointer;
  display: flex;
  padding: 8px 16px;

  &--missed {
    color: var(--dt-kingBlue-wt-kingBlueLight);
  }

  &:hover {
    background-color: var(--chat-bg-dt-dark-wt-whiter);
    color: var(--chat-bg-dt-dark-wt-whiter);
  }

  &__type-icon {
    color: var(--dt-white-wt-dark);

    &--missed {
      color: var(--dt-white-wt-dark);
    }

    svg {
      height: 12px;
      width: 12px;
    }
  }

  &__interlocutor-avatar {
    margin-right: 16px;
  }

  &__info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__name {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;

    &--missed {
      color: var(--dt-white-wt-dark);
    }
  }

  &__type {
    color: var(--dt-white-wt-dark);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 17px;
    margin-left: 8px;
  }

  &__date {
    margin-left: auto;
    display: flex;
    align-self: flex-start;
    padding-top: 3px;
    color: var(--dt-white-wt-dark);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 14px;
    max-width: 60px;
    text-align: end;
    text-transform: lowercase;
    white-space: break-spaces;
  }

  &__actions {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;

    &-action {
      width: 18px;
      color: var(--dt-white-wt-dark);

      &-call {
        height: 18px;
        margin-right: 20px;

        &:hover {
          color: #3f8ae0;
        }
      }

      &-delete {
        height: 20px;

        &:hover {
          color: #c74848;
        }
      }
    }
  }
}
