.policy-modal {
  background-color: var(--dt-white-wt-dark);
  border-radius: 4px;
  color: #6d7885;
  height: 790px;
  left: 50%;
  max-height: 82vh;
  overflow-y: hidden;
  padding: 25px 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  z-index: 10014000;

  @media (max-width: 1225px) {
    max-height: 84vh;
  }

  @media (max-width: 950px) {
    width: 87%;
  }

  @media (max-width: 400px) {
    width: 84%;
  }

  &__top-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__close {
    background-color: transparent;

    svg {
      height: 18px;
    }
  }

  &__btn {
    background-color: rgb(63, 138, 224);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.125;
    margin: 14px auto 0;
    padding: 16px 52px;
    width: 100%;
    z-index: 505;

    &:hover {
      box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
    }

    @media (max-width: 400px) {
      width: calc(100% - 40px);
    }
  }

  &__text-container {
    border-bottom: 1px solid #f0f0f0;
    max-height: 84%;
    overflow: auto;
    position: relative;
  }

  h1 {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 24px;
  }

  &__h-line {
    background-color: #f0f0f0;
    border-radius: 4px;
    height: 1px;
    margin: 20px 0;
  }

  p {
    &:last-child {
      z-index: 15555555;
    }
  }

  P,
  li {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 22px;

    &:not(:first-child) {
      margin-top: 4px;
    }

    &:first-child {
      margin-bottom: 10px;
    }
  }

  li {
    margin-left: 20px;
  }

  h2 {
    font-size: 0.8125rem !important;
    font-weight: 500;
    line-height: 22px;
    margin-top: 10px;
  }
}
