.modal-phone-input {
	width: 100%;
	margin-top: 20px;
	&__label {
		color: rgb(151, 151, 151);
		font-size: 11px;
		line-height: 16px;
		font-weight: 400;
		margin-bottom: 1px;
	}

	&__inputs-wrapper {
		position: relative;
		border: 1px solid #d7d8d9;
		display: flex;
		border-radius: 4px;
	}
	&__country-code {
		width: 11.44%;
		height: 38px;
		border: none;
		text-align: center;
		border-right: 1px solid rgb(215, 216, 217);
		background: transparent;
		line-height: 16px;
		font-size: 13px;
		font-weight: 400;
	}
	&__input {
		width: 88.56%;
		border: none;
		box-sizing: border-box;
		padding: 11px 14px;
		height: 38px;
		background: transparent;
		line-height: 16px;
		font-size: 13px;
		font-weight: 400;

		&::placeholder {
			color: rgb(151, 151, 151);
		}
	}
}
