.country-select {
	position: relative;

	&__input {
		width: 400px;
		height: 52px;
		border: none;
		text-indent: 20px;
		border-bottom: 1px solid rgb(215, 216, 217);
		background: transparent;
	}

	&__country {
		display: flex;
		align-items: baseline;
		padding: 0px 0px 5px 0px;

		&:hover {
			background-color: rgba($color: #000, $alpha: 0.1);
		}
	}

	&__countries {
		max-height: 150px;
		position: absolute;
		left: 0;
		top: 20;
		border: 1px solid;
		border-radius: 5px;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: white;
		width: 100%;

		[data-focus^='true'] {
			background-color: rgba($color: #000, $alpha: 0.1);
		}
	}

	&__flag {
		margin-right: 10px;
		font-size: 24px;
		display: block;
	}

	&__number {
		font-size: 15px;
		display: block;
		margin-left: auto;
	}
}
