.dropdown {
  &__select-wrapper {
    color: var(--white);
    font-size: 11px;
    font-weight: 400;
    border-radius: 4px;
    position: relative;
    border: none;
    display: inline-block;
  }

  &__select {
    position: relative;
    color: var(--white);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    background: var(--dark-transparent);
    border-radius: 4px 4px 0px 0px;

    span {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      margin-right: 16px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    svg {
      height: 16px;
      width: 16px;
      right: 12px;
      color: var(--white);
      margin-left: auto;
    }

    &--disabled {
      cursor: unset;
      color: gray;
      svg {
        color: gray;
      }
    }
  }

  &__select-block {
    position: absolute;
    bottom: 40px;
    background: var(--dark-transparent);
    width: 100%;

    &__option {
      padding: 12px;
      background: rgba(0, 0, 0, 0.4);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      border-bottom: 1px solid rgb(215, 216, 217);
      line-height: 16px;
      user-select: none;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
