.country-phone-input {
  position: relative;

  &__search {
    background: rgba(214, 233, 255, 0.5);
    margin: 4px 16px;
    border-radius: 6px;
    height: 32px;
    position: relative;

    &__input {
      border-radius: 6px;
      background: none;
      border: none;
      width: 100%;
      height: 100%;
      text-indent: 32px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #3f8ae0;

      &::placeholder {
        color: rgba(63, 138, 224, 0.55);
      }
    }

    &__icon {
      color: #3f8ae0;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      height: 12px;
      width: 12px;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    background: #e8f1fb;
    width: 320px;
    padding: 8px 10px;
  }

  &__code-btn {
    display: flex;
    align-items: center;
    margin-left: 6px;
  }

  &__flag-icon {
    width: 20px;
    height: 20px;
  }

  &__country-code {
    padding: 0 10px;
    font-size: 1rem;
    line-height: 19px;
    color: #3f8ae0;
  }

  &__input {
    background: transparent;
    border: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #3f8ae0;
    width: 100%;

    &::placeholder {
      color: #cfe2f7;
    }
  }

  &__separator {
    margin: 0 8px 0 10px;
    height: 24px;
    border-left: 1px solid #3f8ae0;
  }

  &__list {
    position: absolute;
    background: #e8f1fb;
    top: 35px;
    padding-top: 5px;
    left: 0;
    width: 340px;
    list-style-type: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    box-sizing: border-box;

    &__countries {
      max-height: 200px;
      margin-left: 7px;
      margin-right: 16px;
      overflow: hidden;

      &::-webkit-scrollbar {
        width: 14px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #3f8ae0;
      }

      &:hover {
        overflow: auto;
      }
    }
  }

  &__list-item {
    padding: 10px;
    color: #3f8ae0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #3f8ae0;
      color: white;
    }
  }

  &__flag-icon {
    width: 24px;
    height: 24px;
  }

  &__list-item-code {
    width: 65px;
    padding-left: 10px;
  }
}
