.language-settings {
  padding: 0 20px;
  grid-row: 2/3;
  grid-column: 2/3;
  z-index: 10;
  margin-top: 64px;

  & .radio-box {
    margin-top: 13px;
    &:first-child {
      margin-top: 20px;
    }
  }
}
