.delete-chat-modal {
  &__confirm-btn {
    padding: 10px 32px;
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--red);
  }
  &__cancel-btn {
    padding: 10px 32px;
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(transparent);
    margin-right: 10px;
  }
}
