.chat-info {
  grid-column: 4/5;
  transition: all var(--ANIMATION-DURATION);
  margin-right: -348px;

  &--open {
    margin-right: 0;
  }

  &--close {
    margin-right: -348px;
  }

  &__messenger-info {
    background-color: var(--dt-grafit-wt-white);
    height: calc(100vh - 64px);
    overflow-y: auto;
    width: 348px;
    will-change: margin;
  }

  &__close {
    color: var(--dt-white-wt-dark);
    display: block;
    margin-left: auto;
    margin-right: 15px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  &__avatar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}
