.chat-control-panel {
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  z-index: 50;

  &__items {
    color: var(--dt-white-wt-dark);
    background-color: var(--dt-dark-wt-white);
    border-radius: 0px 0px 6px 6px;
    display: flex;
    flex-flow: column nowrap;

    &__item {
      display: flex;
      align-items: center;
      padding: 12px 0px 12px 16px;

      &-logo {
        color: var(--dt-white-wt-dark);
        width: 18px;
        height: 18px;
        margin-right: 16px;
      }

      &-title {
        color: var(--dt-white-wt-dark);
        display: inline-block;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 17px;
        white-space: break-spaces;
      }

      &:hover > &-logo,
      &:hover > &-title {
        color: #3f8ae0;
      }
    }
  }
}
