.selected-messages-data {
  position: absolute;
  bottom: 0;
  padding: 13px 40px 13px 20px;
  width: 100%;
  background-color: #1a192c;
  border-bottom: 1px solid #e9e9e9;
  z-index: 50;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &__btn {
    padding: 11px 30px;
    color: var(--ternary);
    background-color: rgb(63, 138, 224);
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--delete {
      background-color: rgb(209, 36, 51);
    }

    &--cancel {
      margin-left: auto;
      padding: 0;
      color: var(--ternary);
      line-height: 18px;
      background: none;
    }
  }

  &__delete-check {
  }
}
