.change-phone-modal {
  margin-top: 12px;
  margin-bottom: 50px;

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    color: var(--dt-white-wt-kingBlue);
  }

  &__input {
    width: 100%;
    margin-top: 30px;
  }

  &__btn {
    padding: 10px 17px;
    border-radius: 6px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);

    &--cancel {
      background: transparent;
      margin-right: 33px;
    }

    &--submit {
      background: #3f8ae0;
      color: #fff;
      &:hover {
        box-shadow: 0px 3px 6px rgba(14, 22, 43, 0.62);
      }
    }

    &:disabled {
      background: var(--disabled-btn);
      color: var(--disabled-btn-text);
    }
  }

  &__details {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin-top: 16px;
    color: var(--dt-white-wt-dark);
    display: block;
    margin-bottom: -32px;
  }

  &__back-icon {
    svg {
      width: 12px;
      height: 12px;
      color: var(--dt-white-wt-kingBlue);
    }
  }
}
