.select-entity {
  &__friend {
    align-items: center;
    cursor: pointer;
    display: flex;

    margin-top: 16px;
    user-select: none;
  }

  &__avatar {
    color: var(--dt-dark-wt-white);
    margin-right: 20px;
  }

  &__friend-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__friend-name {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: normal;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
  }

  &__friend-status {
    color: var(--dt-white-wt-dark);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 17px;
    margin-top: 8px;
  }

  &__selected {
    height: 24px;
    margin-left: auto;
    width: 24px;
  }

  &__select {
    background: var(--chat-bg-dt-dark-wt-kingBlue-lighter);
    border: 1.5px solid rgba(255, 255, 255, 0.14);
    border-radius: 6px;
    box-sizing: border-box;
    height: 24px;
    margin-left: auto;
    width: 24px;
  }

  &__icon-holder {
    margin-left: auto;
  }
}
