.key-bindings {
  padding: 32px 40px;

  &__title {
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: var(--dt-white-wt-dark);
    margin-bottom: 40px;
  }

  &__entity {
    margin-top: 32px;
  }
}
