.blocked-message-input {
  align-items: center;
  background: var(--dt-dark-wt-white);
  box-shadow: 0 5px 12px var(--box-shadow-1);
  display: flex;
  padding: 13px 24px;
  height: 64px;
  box-sizing: border-box;

  &__icon {
    color: var(--dt-grafit-wt-kingBlue);
    flex: 0 0 22px;
    height: 22px;
    margin-right: 16px;
    width: 22px;
  }

  &__description {
    color: var(--dt-white-wt-dark);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 17px;
  }

  &__btn {
    background: #c74848;
    --bg-color: #c74848;
    border-radius: 6px;
    color: #fff;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 17px;
    margin-left: auto;
    padding: 10px 17px;
    overflow: hidden;

    &:hover {
      box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
    }
  }
}
