.responding-message {
  display: flex;
  background-color: var(--dt-dark-wt-white);
  box-sizing: border-box;
  position: relative;
  align-items: center;

  &__icon {
    height: 24px;
    width: 24px;
    color: var(--dt-kingBlue-wt-kingBlueLight);
    margin: 20px 33px 20px 36px;
  }

  &__line {
    width: 1px;
    background: var(--dt-white-wt-dark);
    margin-right: 7px;
    height: 40px;
  }

  &__message-sender {
    border-radius: 6px;
    height: 32px;
    width: 32px;
  }

  &__message-contents {
    border-radius: 0px 6px 6px 6px;
    padding: 10px 16px 8px;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: var(--dt-white-wt-dark);
    margin-left: 10px;
    white-space: break-spaces;
    line-break: anywhere;

    &--outgoing {
      background: var(--msg-bg-dt-gray-lt-grayLight);
    }

    &--incoming {
      background: var(--dt-kingBlue-wt-kingBlueLight);
    }
  }

  &__close {
    color: var(--dt-white-wt-dark);
    margin-left: auto;
    margin-right: 17px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
