.fade-enter {
  opacity: 0;
  transition: opacity 0.1s;
}

.fade-enter-active {
  opacity: 1;
}

.fade-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.2s;
}

.fade-exit-active {
  opacity: 0;
}

.fade-exit-done {
  opacity: 0;
}
