.country-select {
  background: var(--msg-bg-dt-gray-lt-bright-blue);
  border-radius: 6px;
  margin-bottom: 29px;
  position: relative;
  width: 339px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 6px var(--box-shadow-3);
  }

  &--open {
    border-radius: 6px 6px 0 0;
  }

  &__input {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--dt-white-wt-kingBlue);
    font-size: 1rem;
    font-weight: 300;
    height: 40px;
    line-height: 19px;
    padding: 10px 16px;
    width: 339px;
    cursor: pointer;
  }

  &__input-svg {
    color: #fff;
    display: block;
    height: 10px;
    position: absolute;
    right: 16px;
    top: 15px;
    transition: all var(--ANIMATION-DURATION) ease;
    width: 16px;

    &--open {
      transform: rotate(90deg);
    }
  }

  &__country {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding: 7px 10px;
    position: relative;

    &:hover {
      background-color: var(--dt-dark-wt-kingBlueLight);
    }
  }

  &__label {
    background: var(--dt-dark-wt-kingBlue);
    border-radius: 60px;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 300;
    left: 16px;
    line-height: 14px;
    padding: 2px 8px;
    position: absolute;
    top: -13px;
  }

  &__countries {
    background-color: var(--msg-bg-dt-gray-lt-bright-blue);
    border-radius: 0 0 6px 6px;
    left: 0;
    max-height: 160px;
    overflow-y: auto;
    position: absolute;
    top: 40;
    width: 100%;
    z-index: 6;
    color: var(--dt-white-wt-kingBlue);

    [data-focus^='true'] {
      background-color: var(--dt-dark-wt-kingBlueLight);
      color: #fff;
    }
  }

  &__country-name {
    font-size: 0.8125rem;
    font-weight: 400;
    left: 88px;
    line-height: 16px;
    position: absolute;
  }

  &__number {
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
  }
}
