.message-item-actions {
  display: flex;
  flex-direction: row;
  visibility: hidden;

  &__visible {
    visibility: visible;
  }

  &__action {
    color: var(--dt-transparent-white-wt-kingBlueLight);
    margin-right: 22px;

    &:hover {
      color: #3f8ae0;
    }

    &:first-child {
      margin-left: 14px;
    }

    &:last-child {
      margin-right: 14px;
    }
  }
}
