.add-call-modal {
  min-width: 339px;
  margin-top: 16px;

  &__friends-block {
    margin-top: -8px;
    max-height: 384px;
    overflow: auto;
    margin-top: -25px;

    &__avatar-group {
      position: relative;
    }

    & > * {
      cursor: auto;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__call {
    color: var(--dt-white-wt-kingBlue);
    margin-right: 7px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  &__confirm-btn {
    background: var(--dt-kingBlue-wt-kingBlueLight);
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    padding: 10px 27px;
  }

  &__cancel-btn {
    background: transparent;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    margin-left: auto;
    margin-right: 16px;
    padding: 10px 32px;
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__search-container {
    margin: 0 0 24px;
    position: relative;
    width: 100%;
  }

  &__search {
    &__icon {
      height: 16px;
      left: 16px;
      width: 16px;
    }

    &__input {
      height: 32px;
      text-indent: 50px;
    }
  }
}
