.media-grid {
  border-radius: 6px;
  display: inline-grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  margin-bottom: 15px;
  overflow: hidden;

  &--1 {
    grid-template-columns: 1fr;
  }

  & > * {
    margin-top: 10px;
    max-height: 430px;
    max-width: 280px;

    &:nth-child(2n + 1) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &:nth-child(2) {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
