.check-box {
  align-items: center;
  cursor: pointer;
  display: flex;
  user-select: none;

  &:hover &__checked {
    box-shadow: 0 3px 6px var(--box-shadow-2);
  }

  &:hover &__unchecked {
    box-shadow: 0 3px 6px var(--box-shadow-2);
  }

  &__disabled {
    background: var(--disabled-input);

    border: 1.5px solid rgba(255, 255, 255, 0.14);
    border-radius: 6px;
    box-sizing: border-box;
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__unchecked {
    background: var(--chat-bg-dt-dark-wt-kingBlue-lighter);

    border: 1.5px solid rgba(255, 255, 255, 0.14);
    border-radius: 6px;
    box-sizing: border-box;
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__checked {
    border-radius: 6px;
    box-sizing: border-box;
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    margin-right: 10px;
  }

  &__loader {
    margin-left: 15px;
    width: 1em;
    height: 1em;
    border-right: 0.1em solid transparent;
    border-radius: 50%;
    animation: spinner 0.6s linear infinite;
    border-top: 0.1em solid var(--dt-white-wt-dark);

    & > div {
      width: 0.1em;
      height: 0.1em;
      background-color: #fff;
      border-radius: 50%;
      margin-left: 0.85em;
      margin-top: 0.05em;
    }
  }
}
