.edit-profile {
  display: inline-flex;
  flex-direction: column;
  padding-left: 40px;

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 28px;
    font-weight: normal;
    line-height: 33px;
    margin: 38px 0 40px;

    &--phone {
      margin-top: 32px;
    }

    &--delete {
      margin-top: 80px;
    }
  }

  &__photo-data {
    display: flex;
  }

  &__avatar-wrapper {
    background: var(--dt-darker-wt-bright-blue);
    border-radius: 6px;
    height: 148px;
    position: relative;
    width: 148px;

    &__alt {
      color: #fff;
      height: 68px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 68px;
      z-index: 20;
    }

    &__img {
      border-radius: 6px;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 25;
    }

    &__top-line {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 30;
    }

    &__bottom-line {
      bottom: -5px;
      position: absolute;
      right: -5px;
      z-index: 30;
    }
  }

  &__avatar {
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__avatar-icon {
    color: var(--dt-white-wt-dark);
    height: 78px;
    width: 68px;
  }

  &__avatar-upload {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 31px;
  }

  &__avatar-upload-btn {
    align-items: center;
    background: var(--msg-bg-dt-gray-lt-grayLight);
    border-radius: 6px;
    display: flex;
    margin-bottom: 11px;
    padding: 18px 45px 18px 35px;

    span {
      color: var(--dt-white-wt-dark);
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      margin-left: 16px;
    }

    svg {
      color: var(--dt-white-wt-kingBlue);
      height: 24px;
      width: 24px;
    }
  }

  &__avatar-requirements {
    color: var(--dt-white-wt-dark);
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
  }

  &__input {
    height: 60px;
    margin-top: 30px;
    width: 578px;
  }

  &__btn {
    background: #3f8ae0;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin-left: auto;
    padding: 10px 17px;

    &:hover {
      box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
    }

    &--personal {
      margin-top: 32px;
    }

    &--delete {
      background: #c74848;
    }
  }

  &__phone-data {
    align-items: center;
    display: flex;
    margin-top: -9px;
  }

  &__phone {
    color: var(--dt-white-wt-dark);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }

  &__phone-details {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-top: 16px;
  }

  &__delete-data {
    align-items: center;
    display: flex;
    margin-bottom: 32px;
    margin-top: -6px;
  }

  &__delete-details {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
}
