.call-from-list {
  align-items: center;
  background-color: var(--dt-dark-wt-white);
  color: var(--dt-dark-wt-white);
  cursor: pointer;
  display: flex;
  padding: 8px 20px;

  &--missed {
    color: var(--dt-kingBlue-wt-kingBlueLight);
  }

  &:hover {
    background-color: var(--chat-bg-dt-dark-wt-whiter);
    color: var(--chat-bg-dt-dark-wt-whiter);
  }

  &__aside-data {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__type-icon {
    color: var(--dt-white-wt-dark);
    margin-top: 9px;

    &--missed {
      color: var(--dt-white-wt-dark);
    }

    svg {
      height: 18px;
      width: 18px;
    }
  }

  &__interlocutor-avatar {
    height: 48px;
    margin-right: 20px;
    width: 48px;
  }

  &__name {
    color: var(--dt-white-wt-dark);
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;

    &--missed {
      color: var(--dt-white-wt-dark);
    }
  }

  &__type {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }

  &__date {
    color: var(--dt-white-wt-dark);
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    max-width: 60px;
    text-align: end;
    text-align: end;
    text-align: end;
    text-transform: lowercase;
    white-space: break-spaces;
  }
}
