.chat-video {
  &__video-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__scroll {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__video {
    cursor: pointer;
    height: 98px;
    object-fit: cover;
    width: 148px;
  }

  &__blur {
    background: var(--blur-color);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__video-wrapper {
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
  }

  &__separator {
    color: #3f8ae0;
    font-size: 1rem;
    line-height: 19px;
    padding-bottom: 16px;
    padding-top: 8px;
    text-transform: capitalize;
    width: 100%;
    position: sticky;
    top: 17px;
    z-index: 1;
    background-color: var(--dt-grafit-wt-white);

    &:first-child {
      padding-top: 17px;
    }
  }

  &__play {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    svg {
      color: #fff;
    }
  }

  &__duration {
    color: var(--dt-white-wt-dark);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    position: absolute;
    right: 8px;
    top: 12px;
  }
}
