.chat-actions {
  margin-top: 32px;

  &__title {
    margin-left: 24px;
    margin-bottom: 16px;
    color: #3f8ae0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  &__action {
    display: flex;
    align-items: center;
    color: var(--dt-white-wt-dark);

    margin-left: 24px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &__name {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: var(--dt-white-wt-dark);
      margin-left: 16px;
    }
  }
}
