.new-chat-modal {
  margin-bottom: -15px;

  &__friends-block {
    height: 286px;
    overflow: auto;
    margin-bottom: 16px;
    padding-right: 8px;

    & > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 21px;
    margin-right: 17px;
    width: 21px;
  }

  &__search {
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    width: 339px;

    svg {
      height: 16px;
      left: 17px;
      width: 16px;
    }

    input {
      font-size: 1rem;
      font-weight: normal;
      line-height: 19px;
      text-indent: 50px;
    }
  }
}
