.notifications-settings {
  padding: 32px 40px;

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 33px;
    margin-bottom: 40px;
  }

  &__entity {
    margin-top: 32px;
  }
}
