.phone-confirmation {
  background-color: rgb(63, 138, 224);
  min-height: 100vh;
  position: relative;

  &__logo {
    color: var(--dt-kingBlue-wt-kingBlueLight);
    font-size: 26px;
  }

  &__container {
    background-color: var(--dt-white-wt-dark);
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    left: 50%;
    line-height: 16px;
    padding: 100px 150px 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    & > * {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__confirm-phone {
    margin-bottom: 20px;
    margin-top: 50px;
  }

  &__credentials {
    border: 1px solid rgb(215, 216, 217);
    border-radius: 8px;
  }

  &__conditions {
    font-weight: 300;
    line-height: 1;
    margin-top: 194px;

    span {
      color: rgb(63, 138, 224);
      display: inline;
      font-weight: 400;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__btn {
    margin-top: 20px;

    &:hover {
      box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
    }
  }
}
