.country-select {
  position: relative;
  background: var(--msg-bg-dt-gray-lt-bright-blue);
  width: 339px;
  border-radius: 6px;
  margin-bottom: 29px;

  &:hover {
    box-shadow: 0px 3px 6px rgba(14, 22, 43, 0.62);
  }

  &--open {
    border-radius: 6px 6px 0px 0px;
  }

  &__input {
    width: 339px;
    box-sizing: border-box;
    height: 40px;
    border: none;
    padding: 10px 16px;
    background: transparent;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-kingBlue);
  }

  &__input-svg {
    display: block;
    position: absolute;
    width: 16px;
    height: 10px;
    right: 16px;
    top: 15px;
    color: #fff;
    transition: all 0.1s ease;

    &--open {
      transform: rotate(90deg);
    }
  }

  &__country {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: var(--dt-dark-wt-kingBlueLight);
    }
  }

  &__label {
    padding: 2px 8px;
    background: var(--dt-dark-wt-kingBlue);
    position: absolute;
    top: -13px;
    left: 16px;
    border-radius: 60px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
  }

  &__countries {
    max-height: 160px;
    position: absolute;
    left: 0px;
    top: 40;
    border-radius: 0px 0px 6px 6px;
    overflow-y: auto;
    background-color: var(--msg-bg-dt-gray-lt-bright-blue);
    width: 100%;
    z-index: 6;

    [data-focus^='true'] {
      background-color: var(--dt-dark-wt-kingBlueLight);
    }

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  &__country-name {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    left: 88px;
  }

  &__number {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }
}
