.chat-item {
  align-items: stretch;
  background-color: var(--dt-dark-wt-white);
  color: var(--dt-dark-wt-white);
  display: flex;
  padding: 8px 20px;
  position: relative;
  overflow: hidden;

  &:not(&--active):hover {
    background-color: var(--chat-bg-dt-dark-wt-whiter);
    color: var(--chat-bg-dt-dark-wt-whiter);
  }

  &__heading {
    display: flex;
  }

  &__contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }

  &--active {
    background-color: var(--chat-bg-dt-dark-wt-whiter);
    color: var(--chat-bg-dt-dark-wt-whiter);
  }

  &__status {
    color: var(--dt-white-wt-dark);
    margin: 2px 3px 0 auto;
  }

  &__time {
    color: var(--dt-white-wt-dark);
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 14px;
    margin-top: 3px;
    white-space: nowrap;
  }

  &__avatar {
    margin-right: 16px;
  }

  &__name {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 8px;
    margin-top: 3px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__last-message {
    color: var(--dt-white-wt-dark);
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 17px;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;

    .rendered-emoji {
      margin-bottom: -4px;
    }
  }

  &__count {
    background-color: var(--dt-grafit-wt-kingBlue);
    border-radius: 6px;
    color: #fff;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-size: 0.875rem;

    font-weight: 400;
    line-height: 16px;
    padding: 4px 7px;

    position: absolute;
    right: 20px;
    top: 30px;

    &--muted {
      background-color: #6d7885;
    }
  }
}
