.check-box {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover &__check-box {
    box-shadow: 0px 3px 6px rgba(14, 22, 43, 0.62);
  }

  &__check-box {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 16px;
  }

  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--dt-white-wt-dark);
  }
}
