.file-attachment {
  align-items: center;
  display: inline-flex;

  &__data {
    max-width: 250px;
  }

  &__download {
    align-items: center;
    background: currentColor;
    border-radius: 0 6px 6px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 10px;
    width: 40px;

    svg {
      color: var(--dt-white-wt-dark);
    }
  }

  &__cancel {
    align-items: center;
    background: currentColor;
    border-radius: 0 6px 6px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    width: 40px;

    svg {
      color: var(--dt-white-wt-dark);
    }
  }

  &__progress-svg {
    height: 24px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: all var(--ANIMATION-DURATION);
    width: 24px;

    circle {
      transition: all var(--ANIMATION-DURATION);
    }
  }

  &__file-name {
    color: #3f8ae0;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__file-size {
    color: var(--dt-white-wt-dark);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    margin-right: auto;
    margin-top: auto;
    white-space: nowrap;
  }
}
