.forward-modal {
  min-width: 330px;
  margin-top: 15px;

  &__btn-block {
    margin-top: 22px;
    display: flex;
    justify-content: flex-end;
  }

  &__chats-block {
    max-height: 330px;
    overflow: auto;
    padding-right: 7px;

    &__avatar-group {
      position: relative;
    }
  }

  &__confirm-btn {
    background: #3f8ae0;
    --bg-color: #3f8ae0;
    border-radius: 6px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    padding: 10px 27px;

    &:disabled {
      background: var(--disabled-btn);
      --bg-color: var(--disabled-btn);
      color: var(--disabled-btn-text);
    }
  }

  &__cancel-btn {
    background: transparent;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    margin-left: auto;
    margin-right: 16px;
    padding: 10px 32px;
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__search-container {
    margin: 0 0 0 0;
    position: relative;
    width: 100%;
  }

  &__search {
    &__icon {
      height: 16px;
      left: 16px;
      width: 16px;
    }

    &__input {
      height: 32px;
      text-indent: 50px;
    }
  }
}
