.message-input-attachment {
  flex: 0 0 135px;
  height: 40px;
  background-color: var(--dt-grafit-wt-kingBlueLight-transparent);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin-right: 15px;
  border-radius: 6px;
  overflow: hidden;

  &__type-icon {
    margin: 8px 11px;
    color: #fff;
    z-index: 5;
  }

  &__bg {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  &__progress {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--msg-bg-dt-gray-lt-kingBlueLight);
    transition: all 0.1s;
    height: 100%;
    z-index: 2;

    &--photo {
      background-color: var(--upload-photo-progress);
    }
  }

  &__data {
    z-index: 5;
  }

  &__title {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__size {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
  }

  &__close {
    position: absolute;
    top: 2px;
    right: 4px;
    cursor: pointer;
    z-index: 5;

    svg {
      width: 8px;
      color: #fff;
      height: 8px;
    }
  }
}
