.messenger {
	display: grid;
	grid-template-columns: 347px 1fr;
	grid-template-rows: 64px 1fr;
	min-height: 100vh;

	&__chat-send {
		display: grid;
		grid-template-rows: 1fr 64px;
		position: relative;
		grid-row: 2/3;
		grid-column: 2/3;

		&--little {
			width: calc(100% - 300px);
		}

		transition: all 0.3s;
	}

	&__chat-list {
		grid-row: 2/3;
		grid-column: 1/2;
	}
}
