.messenger {
	display: grid;
	grid-template-columns: 347px 1fr;
	grid-template-rows: 64px 1fr;
	min-height: 100vh;

	&__chat-send {
		display: grid;
		grid-template-rows: 1fr 64px;
		position: relative;
		grid-row: 2/3;
		grid-column: 2/3;

		&--little {
			width: calc(100% - 300px);
		}

		transition: all 0.3s;
	}

	&__chat-list {
		grid-row: 2/3;
		grid-column: 1/2;
		border-right: 1px solid rgba(0, 0, 0, 0.2);
		overflow: hidden;

		&__animated {
			width: 346px;
			overflow: hidden;
			max-width: 346px;
		}

		.slide-enter,
		.slide-exit {
			transition: transform 300ms linear !important;
		}

		.slide-enter.slide-enter-active {
			transform: translateX(0%);
		}

		.slide-enter {
			transform: translateX(100%);
		}

		.slide-exit {
			position: absolute;
			top: 64px;
			left: 0;
			width: 100%;
			transform: translateX(0%);
		}

		.slide-exit-active {
			transform: translateX(-100%);
		}
	}

	&__chats {
		width: 346px;
	}
}
