.messenger {
	&__chat-data {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid rgba(#000, 0.2);
	}

	&__contact-data {
		display: flex;

		.MuiBadge-dot {
			right: 31% !important;
		}
	}

	&__contact-img {
		margin-left: 20px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-right: 10px;
		height: 36px !important;
		width: 36px !important;
		object-fit: cover;
	}

	&__chat-info {
		h1 {
			font-size: 15px;
			line-height: 16px;
			font-weight: 500;
		}

		&--blue {
			transition: all 0.3s;
			svg {
				fill: blue;
			}
		}
	}

	&__buttons-group {
		display: flex;
		width: 120px;
		justify-content: flex-end;
		button {
			width: 24px;
			height: 24px;
			svg {
				width: 100%;
			}
		}
	}
}
