.interlocutor-info {
	margin: 0 20px 40px 20px;

	&__heading {
		font-weight: 500;
		font-size: 15px;
		line-height: 16px;
		margin-bottom: 20px;
	}

	&__info-block {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	&__info-svg {
		display: block;
		transform: scale(0.75);
	}

	&__data {
		margin-left: 10px;
	}

	&__data-value {
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		max-width: 230px;

		&--link {
			color: #3f8ae0;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__data-name {
		margin-top: 4px;
		font-weight: 400;
		font-size: 13px;
		color: #6d7885;
	}
}
