.chat-media {
  margin-top: 32px;

  &__title {
    color: var(--king-blue);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-left: 24px;
    margin-bottom: 17px;
  }

  &__media-group {
    margin-left: 24px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__media-heading {
    display: flex;
    background-color: var(--grafit);
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;

    svg {
      color: var(--white);
    }
  }

  &__media-title {
    color: var(--white);
    margin-left: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }

  &__open-arrow {
    transition: all 0.2s;
    margin-left: auto;
    margin-right: 20px;
    transform: rotate(-90deg);

    svg {
      height: 8px;
      width: 14px;
      color: var(--king-blue);
    }

    &--rotated {
      transform: rotate(0deg);
    }
  }
}
