.chat-media {
  margin-top: 30px;

  &__title {
    margin-left: 16px;
    color: var(--secondary);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 34px;
  }

  &__media-group {
    margin-left: 16px;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__media-heading {
    display: flex;
    background-color: var(--primary);
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;

    svg {
      color: var(--ternary);
    }
  }

  &__media-title {
    color: var(--ternary);
    margin-left: 16px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }

  &__open-arrow {
    color: var(--secondary);
    transition: all 0.2s;
    margin-left: auto;
    margin-right: 20px;
    transform: rotate(-90deg);

    svg {
      height: 8px;
      width: 14px;
    }

    &--rotated {
      transform: rotate(0deg);
    }
  }
}
