.friend {
  padding: 14px 20px;
  display: flex;
  position: relative;

  &:hover {
    background-color: rgba($color: #3f8ae0, $alpha: 0.1);
  }

  &__active-line {
    display: none;
    background-color: var(--secondary);
    height: 100%;
    width: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px 10px 10px 0;
  }

  &--active {
    background-color: rgba($color: #3f8ae0, $alpha: 0.1);

    & > .friend__active-line {
      display: block;
    }
  }

  &__contents {
    margin-left: 10px;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &__status {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary);
  }
}
