.radio-box {
  align-items: center;
  cursor: pointer;
  display: flex;
  user-select: none;

  &:hover &__radio-box-wrapper {
    box-shadow: 0 3px 6px var(--box-shadow-2);
  }

  &__radio-box-wrapper {
    align-items: center;
    background: var(--radio-box-bg);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-right: 16px;
    width: 24px;
  }

  &__radio-box {
    background: transparent;
    border: 1px solid #3f8ae0;
    border-radius: 10px;
    height: 14px;
    transition: all 0.2s;
    width: 14px;
  }

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
  }

  &__radio-input {
    height: 0;
    visibility: hidden;
    width: 0;

    &:checked + * {
      div {
        background: #3f8ae0;
      }
    }
  }
}
