.chat-recordings {
  &__separator {
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #3f8ae0;

    &:first-child {
      margin-top: 17px;
    }
  }

  &__recording {
    margin-top: 20px;
    margin: 20px 20px 0 20px;
    max-width: calc(100% - 40px);
  }

  &__recordings {
    .rhap {
      &_container {
        padding: 0 0;
        box-shadow: none;
      }

      &_progress {
        &-section {
          flex: 1 1 auto;
        }

        &-indicator {
          background-color: var(--dt-white-wt-dark);
          border: 2px solid var(--dt-kingBlue-wt-kingBlueLight);
          height: 10px;
          transform: translateX(5px);
          width: 10px;
          top: -3px;
        }

        &-container {
          margin-right: 10px;
          margin-left: 0px;
        }

        &-bar {
          height: 4px;
          border-radius: 1px;
        }
      }

      &_controls-section {
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
        align-items: center;
        margin-right: 0px !important;
      }

      &_current-time {
        font-size: 11px;
        line-height: 12px;
        font-weight: 400;
        margin-top: auto;
        margin-bottom: auto;
      }

      &_button-clear {
        width: 30px;
        height: 30px;
        margin: 0;
        margin-right: 10px;
      }
    }
  }
}
