.search-box {
  &__input-wrapper {
    border-radius: 6px;

    color: var(--dt-white-wt-kingBlue);
    margin: 16px 20px 10px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 40px);
  }

  &__input {
    background-color: var(--dt-transparent-white-wt-kingBlueLight-transparenter);
    border: none;
    border-radius: 6px;
    color: var(--dt-white-wt-kingBlue);
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    line-height: 19px;
    text-indent: 43px;
    width: 100%;

    &__svg {
      left: 7px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:placeholder-shown ~ * {
      color: var(--dt-semi-transparent-wt-kingBlue);
    }

    &::placeholder {
      color: var(--dt-semi-transparent-wt-kingBlue);
    }
  }
}
