.radio-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover &__radio-box-wrapper {
    box-shadow: 0px 3px 6px rgba(14, 22, 43, 0.62);
  }

  &__radio-box-wrapper {
    height: 24px;
    width: 24px;
    background: rgba(74, 84, 102, 0.6);
    border-radius: 12px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  &__radio-box {
    background: transparent;
    border: 1px solid var(--dt-kingBlue-wt-kingBlueLight);
    border-radius: 10px;
    width: 14px;
    height: 14px;
    transition: all 0.2s;
  }

  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--dt-white-wt-dark);
  }

  &__radio-input {
    visibility: hidden;
    visibility: hidden;
    width: 0;
    height: 0;

    &:checked + * {
      div {
        background: var(--dt-kingBlue-wt-kingBlueLight);
      }
    }
  }
}
