.language-settings {
  padding: 33px 39px;

  &__title {
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: var(--white);
    margin-bottom: 40px;
  }

  &__language {
    margin-top: 16px;
    border-radius: 6px;

    &:hover {
      background: var(--dark);
    }

    &--active {
      background: var(--dark);
    }

    & > * {
      padding: 18px 44px 18px 40px;
    }
  }

  &__icon {
    margin-left: 8px;
  }

  &__language-name {
    margin-left: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--white);
  }

  &__language-country {
    margin-left: auto;
    color: var(--king-blue);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}
