.message {
  &__edited {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-27%, -47%);
    color: var(--dt-white-wt-dark);
  }

  &__container {
    &:last-child {
      margin-bottom: 10px;
    }

    &:hover .message__btn-group {
      opacity: 1;
    }

    &:hover .message__checkbox {
      opacity: 1;
    }

    &--incoming {
      color: var(--dt-kingBlue-wt-kingBlueLight);
    }

    &--outgoing {
      color: var(--msg-bg-dt-gray-lt-grayLight);
    }
  }

  &__content {
    padding: 10px 16px;

    border-radius: 0px 6px 6px 6px;
    line-break: anywhere;
    background-color: currentColor;

    span {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: var(--dt-white-wt-dark);
      display: inline-block;
      line-break: anywhere;
      white-space: break-spaces;
    }
  }

  &__attachments {
    color: var(--dt-dark-wt-white);
    display: flex;
    flex-direction: column;

    h4 {
      color: var(--dt-white-wt-dark);
    }

    & > * {
      display: inline-flex;
      margin-bottom: 10px;

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 11px;

    &--selected {
      background-color: var(--dt-whiter-wt-dark-kingBlue-transparentest);
    }
  }

  &__sender-photo-wrapper {
    margin-right: 10px;
    margin-left: 32px;
    margin-bottom: auto;
  }

  &__sender-photo {
    height: 40px;
    width: 40px;
    border-radius: 6px;
  }

  &__sender-name {
    margin: 7px 0 4px 142px;
    color: var(--dt-white-wt-dark);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  &__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: var(--dt-white-wt-kingBlueLight);
    margin-left: 4px;
    white-space: nowrap;
  }

  &__separator {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 14px;
    margin-bottom: 14px;

    span {
      display: inline-block;
      background-color: var(--dt-kingBlue-wt-kingBlueLight-transparent);
      border-radius: 6px;
      padding: 4px 16px;
      color: var(--dt-white-wt-dark);
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__system-message {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 14px;

    &__icon {
      color: var(--dt-white-wt-dark);
      margin-right: 8px;

      width: 12px;
      height: 12px;
    }

    &__content {
      display: inline-flex;
      background-color: var(--dt-kingBlue-wt-kingBlueLight-transparent);
      border-radius: 6px;
      padding: 4px 16px;
      color: var(--dt-white-wt-dark);
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      background: var(--dt-dark-wt-white);

      &--success--call {
        background: var(--blue);
      }

      &--failure-call {
        background: var(--error-bg);
      }
    }
  }

  &__state {
    color: var(--dt-white-wt-kingBlueLight);
  }

  &__checkbox {
    margin-left: 36px;
    svg {
      color: var(--dt-white-wt-kingBlue);
    }

    &--unselected {
      opacity: 0;
    }
  }

  &__contents-wrapper {
    display: block;
    position: relative;
    max-width: 70%;
    margin-right: 16px;

    &--upcoming {
      margin-left: 40px;
    }

    &:hover .message-item-actions {
      visibility: visible;
      opacity: 1;
    }

    & > .message__attachments {
      margin-bottom: 0;

      .media-grid {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
