.message {
  &__edited {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-27%, -47%);
    color: var(--white);
  }

  &__container {
    &:last-child {
      margin-bottom: 10px;
    }

    &:hover .message__btn-group {
      opacity: 1;
    }

    &:hover .message__checkbox {
      opacity: 1;
    }

    &--incoming {
      color: var(--king-blue);
    }

    &--outgoing {
      color: var(--msg-bg);
    }
  }

  &__contents-wrapper {
    display: block;
    position: relative;
    max-width: 70%;

    &--upcoming {
      margin-left: 40px;
    }

    &:hover .message-item-actions {
      visibility: visible;
      opacity: 1;
    }
  }

  &__content {
    padding: 10px 16px;

    border-radius: 0px 6px 6px 6px;
    line-break: anywhere;
    background-color: currentColor;

    span {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: var(--white);
      display: inline-block;
      line-break: anywhere;
      white-space: break-spaces;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 11px;

    &--selected {
      background-color: var(--white-darker);
    }
  }

  &__sender-photo-wrapper {
    margin-right: 10px;
    margin-left: 32px;
    margin-bottom: auto;
  }

  &__sender-photo {
    height: 40px;
    width: 40px;
    border-radius: 6px;
  }

  &__sender-name {
    margin: 7px 0 4px 142px;
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  &__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: var(--white-semi-transparent);
    margin-left: 4px;
  }

  &__separator {
    display: flex;

    justify-content: center;

    margin-top: 14px;
    margin-bottom: 14px;

    span {
      display: inline-block;
      background-color: var(--king-blue-transparent);
      border-radius: 6px;
      padding: 4px 16px;
      color: var(--white);
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }

    &--date {
      text-transform: capitalize;
    }
  }

  &__state {
    margin-left: 16px;
    color: var(--white-semi-transparent);
  }

  &__checkbox {
    margin-left: 36px;
    svg {
      color: var(--white);
    }

    &--unselected {
      opacity: 0;
    }
  }
}
