.create-group-chat {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 21px;
    margin-right: 17px;
    width: 21px;
  }

  &__select-friends {
    margin-top: -16px;

    &__search {
      height: 32px;
      margin-bottom: 23px;
      margin-left: 0;
      margin-right: 0;
      width: 339px;

      svg {
        height: 16px;
        left: 17px;
        width: 16px;
      }

      input {
        font-size: 1rem;
        font-weight: normal;
        line-height: 19px;
        text-indent: 50px;
      }
    }
  }

  &__friends-block {
    max-height: 294px;
    overflow: auto;
    padding-right: 8px;

    & > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__current-photo-wrapper {
    background: var(--dt-darker-wt-bright-blue);
    border-radius: 6px;
    height: 148px;
    position: relative;
    width: 148px;

    &__alt {
      color: #fff;
      height: 68px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 68px;
      z-index: 20;
    }

    &__img {
      border-radius: 6px;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 25;
    }

    &__top-line {
      left: 0;
      position: absolute;
      top: 0;
      z-index: 30;
    }

    &__bottom-line {
      bottom: -1px;
      position: absolute;
      right: -1px;
      z-index: 30;
    }
  }

  &__change-photo-btn {
    align-items: center;
    background-color: var(--dt-dark-transparent-wt-kingBlueLight-transparent);
    border-radius: 6px;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 3px 0;
    position: absolute;
    width: 100%;
    z-index: 40;

    svg {
      height: 11px;
      margin-right: 5px;
      width: 11px;
    }

    span {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 14px;
    }
  }

  &__criteria {
    color: var(--dt-white-wt-dark);
    font-size: 0.625rem;
    font-weight: 300;
    line-height: 12px;
    margin-top: 13px;
  }

  &__btn {
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    margin-top: -7px;
    padding: 10px 32px;

    &--cancel {
      background: transparent;
      margin-right: 10px;
    }

    &--confirm {
      background: #3f8ae0;
      --bg-color: #3f8ae0;

      color: #fff;

      &:hover {
        box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
      }

      &:disabled {
        &:hover {
          box-shadow: none;
        }
      }

      &:disabled {
        --bg-color: var(--disabled-btn);
        background: var(--disabled-btn);
        color: var(--disabled-btn-text);
      }
    }
  }

  &__input {
    margin-top: 30px;
  }
}
