.chat-actions {
  margin-top: 32px;

  &__action {
    display: flex;
    align-items: center;

    margin-left: 16px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &__name {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: var(--white);
      margin-left: 16px;
    }
  }
}
