.settings-navigation {
  &__element {
    align-items: center;
    background: var(--dt-dark-wt-white);
    color: var(--dt-white-wt-dark);
    display: flex;
    padding: 20px;

    &--active {
      background: var(--chat-bg-dt-dark-wt-whiter);
    }

    &:hover {
      background: var(--chat-bg-dt-dark-wt-whiter);
    }

    &:first-child {
      margin-top: 64px;
    }
  }

  &__icon {
    height: 24px;
    margin-right: 20px;
    width: 24px;
  }

  &__text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
  }
}
