@import '../../../common/styles/utils';

.replied-message {
  display: flex;
  margin: pxToRem(5px) pxToRem(3px) pxToRem(16px) pxToRem(-1px);

  &__interlocutor {
    color: var(--dt-white-wt-dark);
    margin-bottom: pxToRem(5px);
    margin-top: pxToRem(2px);
  }

  &__avatar {
    margin-right: pxToRem(10px);
  }
}
