@import '../../../common/styles/utils';

.replied-message {
  display: flex;
  margin-bottom: pxToRem(16px);

  margin-left: pxToRem(-1px);
  margin-right: pxToRem(3px);
  margin-top: pxToRem(5px);

  &__contents {
    background: var(--chat-bg-dt-dark-wt-kingBlueLight);
    border-radius: 0 pxToRem(6px) pxToRem(6px);
    margin-left: pxToRem(10px);
    padding: pxToRem(8px) pxToRem(16px);
  }

  &__text {
    color: #fff;
    font-size: pxToRem(16px);
    font-weight: 300;
    line-break: anywhere;
    line-height: pxToRem(12px);
    white-space: break-spaces;
  }

  &__interlocutor {
    color: var(--dt-white-wt-dark);
    margin-bottom: pxToRem(5px);
    margin-top: pxToRem(2px);
  }
}
