.replied-message {
  display: flex;
  margin-bottom: 16px;

  margin-left: -1px;
  margin-right: 3px;
  margin-top: 5px;

  &__contents {
    background: var(--chat-bg-dt-dark-wt-kingBlueLight);
    border-radius: 0 6px 6px;
    margin-left: 10px;
    padding: 8px 16px;
  }

  &__text {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    line-break: anywhere;
    line-height: 12px;
    white-space: break-spaces;
  }

  &__interlocutor {
    color: var(--dt-white-wt-dark);
    margin-bottom: 5px;
    margin-top: 2px;
  }

  &__attachments {
    display: flex;
    flex-direction: column;

    & > * {
      margin-top: 10px;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }
}
