.status-badge {
  position: relative;

  &__indicator {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -3px;
    top: -3px;
    z-index: 7;
    border: 3px solid currentColor;
    box-sizing: border-box;

    &--online {
      background-color: var(--king-blue);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
      transform: scale(1);
      animation: pulse 2s infinite;
    }

    &--offline {
      background-color: red;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
