.chat-recordings {
	border-left: 1px solid #e0e4e8;
	grid-row: 1/3;
	height: 100vh;
	background-color: white;
	width: 300px;
	overflow-y: auto;
	position: absolute;
	top: 0;
	transition: all 0.2s;
	transform: translateX(300px) translateZ(0);

	&::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	&__top {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: flex-start;
		margin: 0 20px;
		padding: 23px 0;
		position: sticky;
		top: 0;
		z-index: 1;
		background: white;
	}

	&__heading {
		font-size: 13px;
		line-height: 16px;
		font-weight: 500;
		color: #3f8ae0;
		margin-left: 50px;
	}

	&__back {
		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__recordings {
		& > * {
			margin-top: 20px;
			margin: 20px 20px 0 20px;
			max-width: calc(100% - 40px);
		}
		.rhap {
			&_container {
				padding: 0 0;
				box-shadow: none;
			}

			&_progress {
				&-section {
					flex: 1 1 auto;
				}

				&-indicator {
					background-color: white;
					border: 2px solid #3f8ae0;
					height: 10px;
					transform: translateX(5px);
					width: 10px;
					top: -3px;
				}

				&-container {
					margin-right: 10px;
					margin-left: 0px;
				}

				&-bar {
					height: 4px;
					border-radius: 1px;
				}
			}

			&_controls-section {
				display: flex;
				flex: 0 1 auto;
				justify-content: space-between;
				align-items: center;
				margin-right: 0px !important;
			}

			&_current-time {
				font-size: 11px;
				line-height: 12px;
				font-weight: 400;
				margin-top: auto;
				margin-bottom: auto;
			}

			&_button-clear {
				width: 30px;
				height: 30px;
				margin: 0;
				margin-right: 10px;
			}
		}
	}
}
