.responding-message {
  align-items: center;
  background-color: var(--dt-dark-wt-bright-blue);
  box-sizing: border-box;
  display: flex;
  position: relative;

  &__icon {
    color: #3f8ae0;
    height: 24px;
    margin: 20px 33px 20px 36px;
    width: 24px;
  }

  &__line {
    background: var(--dt-white-wt-dark);
    height: 40px;
    margin-right: 7px;
    width: 1px;
  }

  &__message-contents {
    border-radius: 0 6px 6px;
    color: #fff;
    font-size: 0.625rem;
    font-weight: 300;
    line-break: anywhere;
    line-height: 12px;
    margin-left: 10px;
    padding: 10px 16px 8px;
    white-space: break-spaces;

    &--outgoing {
      background: var(--msg-bg-dt-gray-lt-kingBlueLight);
    }

    &--incoming {
      background: var(--dt-kingBlue-wt-kingBlueLight);
    }
  }

  &__close {
    color: var(--dt-white-wt-kingBlue);
    margin-left: auto;
    margin-right: 17px;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}
