.friend-from-list {
	&__friend {
		display: flex;
		align-items: center;

		margin-top: 20px;
		cursor: pointer;
		user-select: none;

		&:hover {
			background-color: rgba(63, 138, 224, 0.1);
		}
	}

	&__selected-holder {
		display: block;
		margin-right: 10px;
		color: rgb(153, 162, 173);
		cursor: pointer;
	}

	&__avatar {
		margin-right: 10px;
		height: 40px;
		width: 40px;
	}

	&__friend-name {
		font-size: 14px;
		font-weight: 500;
	}
}
