@import '../../common/styles/utils';

.settings-router {
  &__navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--dt-dark-wt-white);
    grid-row: 1/-1;
  }

  &__data {
    grid-column: 3/-1;
    grid-row: 1/-1;
    height: 100vh;
    overflow: auto;
  }

  &__app-version {
    margin-top: auto;
    padding-left: pxToRem(20px);
    padding-bottom: pxToRem(20px);
  }
}
