.internet-error {
  position: absolute;
  top: 70px;
  right: 0;
  width: calc(100vw - 346px);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: red;

  p {
    font-size: 24px;
    color: var(--ternary);
  }
}
