.message {
  $this: &;

  &__edited {
    color: var(--dt-white-wt-kingBlue);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-27%, -47%);
    z-index: 5;
  }

  &__forward-indicator {
    margin-left: -2px;
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 12px;
    margin-bottom: 10px;
    color: #fff;

    &__name {
      font-size: 0.625rem;
      line-height: 12px;
      color: #fff;
      font-weight: 400;
      display: inline;
    }
  }

  &__container {
    &:last-child {
      margin-bottom: 10px;
    }

    &:hover .message__btn-group {
      opacity: 1;
    }

    &:hover .message__checkbox {
      opacity: 1;
    }

    &--incoming {
      color: var(--dt-kingBlue-wt-grayLight);

      #{$this}__forward-indicator {
        color: var(--dt-white-wt-kingBlue);
      }
    }

    &--outgoing {
      color: var(--msg-bg-dt-gray-lt-kingBlueLight);

      #{$this}__forward-indicator {
        color: white;
      }
    }
  }

  &__content {
    background-color: currentColor;

    border-radius: 0 6px 6px;
    line-break: anywhere;
    padding: 10px 16px;

    &__text {
      color: var(--dt-white-wt-dark);
      display: inline-block;
      font-size: 1rem;
      font-weight: 300;
      line-break: anywhere;
      line-height: 19px;
      white-space: break-spaces;
    }
  }

  &__attachments {
    color: var(--dt-dark-wt-kingBlueLight);
    display: flex;
    flex-direction: column;

    h4 {
      color: var(--dt-white-wt-dark);
    }

    & > * {
      display: inline-flex;
      margin-bottom: 10px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }

  &__item {
    align-items: center;
    display: flex;
    margin-bottom: 11px;
    width: 100%;

    &--selected {
      background-color: var(--dt-whiter-wt-dark-kingBlue-transparentest);
    }
  }

  &__sender-photo {
    margin-bottom: auto;
    margin-left: 32px;
    margin-right: 10px;
    cursor: pointer;

    &--me {
      cursor: initial;
    }
  }

  &__sender-name {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: normal;
    line-height: 19px;
    margin: 7px 0 4px 142px;
    cursor: pointer;

    &--me {
      cursor: initial;
    }
  }

  &__time {
    color: var(--dt-semi-transparent-wt-kingBlueLight);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 14px;
    margin-left: 4px;
    white-space: nowrap;
  }

  &__separator {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    margin-top: 14px;
    position: sticky;
    top: 20px;
    text-transform: capitalize;

    span {
      background-color: rgba(63, 138, 224, 0.25);
      border-radius: 6px;
      color: var(--dt-white-wt-dark);
      display: inline-block;
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 14px;
      padding: 4px 16px;
    }
  }

  &__system-message {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 12px;

    &__icon {
      color: #fff;
      height: 12px;
      margin-right: 8px;

      width: 12px;
    }

    &__content {
      background: var(--dt-dark-wt-kingBlueLight);
      border-radius: 6px;
      color: #fff;
      display: inline-flex;
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 14px;
      padding: 4px 16px;

      &--success-call {
        background: var(--dt-blue-wt-grayLight);
      }

      &--failure-call {
        background: var(--error-bg-themed);
      }
    }
  }

  &__state {
    color: var(--dt-semi-transparent-wt-kingBlueLight);
  }

  &__checkbox {
    margin-left: 36px;

    svg {
      color: var(--dt-white-wt-kingBlue);
    }

    &--unselected {
      opacity: 0;
    }
  }

  &__contents-wrapper {
    display: block;
    margin-right: 16px;
    max-width: 70%;
    position: relative;

    &--upcoming {
      margin-left: 82px;
    }

    &:hover .message-item-actions {
      opacity: 1;
      visibility: visible;
    }

    & > .message__attachments {
      margin-bottom: 0;

      .media-grid {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}
