.search-box {
  &__input-wrapper {
    position: relative;
    width: calc(100% - 40px);
    margin: 16px 20px 10px 20px;
    border-radius: 6px;
    overflow: hidden;

    color: var(--dt-white-wt-kingBlue);
  }

  &__input {
    height: 100%;
    border-radius: 6px;
    background-color: var(--dt-transparent-white-wt-kingBlueLight-transparenter);
    display: block;
    border: none;
    text-indent: 43px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-kingBlue);

    &__svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 7px;
    }

    &:placeholder-shown ~ * {
      color: var(--dt-semi-transparent-wt-kingBlue);
    }

    &::placeholder {
      color: var(--dt-semi-transparent-wt-kingBlue);
    }
  }
}
