.message-error {
  align-items: center;
  background-color: var(--dt-dark-wt-pink);
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  display: flex;
  padding: 12px 24px 12px 36px;
  position: relative;

  &__icon {
    margin-right: 31px;

    svg {
      color: #c74848;
      height: 24px;
      width: 24px;
    }
  }

  &__description {
    color: #c74848;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
  }

  &__btn-group {
    display: flex;
    margin-left: auto;
  }

  &__btn-separator {
    background: rgba(63, 138, 224, 0.25);
    height: 28px;
    width: 1px;
  }

  &__btn {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;

    &--retry {
      color: #3f8ae0;
      margin-right: 13px;
    }

    &--dismiss {
      color: #c74848;
      margin-left: 13px;
    }
  }
}
