.friend {
  color: var(--dt-dark-wt-white);
  display: flex;
  padding: 8px 20px;
  position: relative;

  &:hover {
    background-color: var(--chat-bg-dt-dark-wt-whiter);
    color: var(--chat-bg-dt-dark-wt-whiter);
  }

  &__contents {
    margin-left: 20px;
  }

  &__name {
    color: var(--dt-white-wt-dark);
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin-top: 3px;
  }

  &__status {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-top: 8px;
  }
}
