.active-call {
  background-color: rgba(2, 0, 22, 0.9);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  transition: all 0.1s ease-in-out;
  z-index: 1000000000;

  &__drag {
    height: 328px !important;
    width: 304px !important;

    &--big {
      height: 100vh !important;
      width: 100vw !important;
      left: 50% !important;
      position: absolute !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }

  &--big {
    background-color: #1b192d;
    border-radius: 0;
    padding: 0;
  }

  &__gradient {
    background: linear-gradient(to top, rgba(26, 24, 44, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    height: 66px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__change-screen {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 55;

    svg {
      color: var(--dt-white-wt-dark);
      height: 16px;
      width: 16px;
    }
  }

  &__bottom-menu {
    bottom: 20px;
    display: flex;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    margin-top: auto;
    position: absolute;
    transform: translateX(-50%);

    &--big {
      bottom: 60px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  &__call-btn {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    color: var(--dt-white-wt-dark);
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;

    svg {
      height: 20px;
      width: 20px;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &--end-call {
      background-color: rgb(209, 36, 51);
    }

    &--big {
      height: 60px;
      width: 60px;

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }

  &__main-data {
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 55;

    &--big {
      left: 20px;
      position: absolute;
      top: 30px;
    }
  }

  &__interlocutor-name {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    white-space: nowrap;
  }

  &__duration {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
  }

  &__interlocutor-avatar {
    height: 100px;
    left: 50%;
    position: absolute !important;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
  }

  &__remote-video {
    height: 328px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 304px;
    z-index: -1;

    &--big {
      height: 100vh;
      width: 100vw;
    }
  }

  &__local-video {
    border-radius: 6px;
    bottom: 81px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    right: 20px;
    width: 80px;

    &--big {
      bottom: 120px;
      height: 150px;
      right: 50px;
      width: 150px;
    }
  }

  &__dropdown-wrapper {
    bottom: 70px;
    position: absolute;
    width: 264px;

    &--audio {
      left: 20px;
    }

    &--video {
      right: 20px;
    }
  }
}

.react-draggable {
  z-index: 10;
}
