.phone-confirmation {
	min-height: 100vh;
	position: relative;
	background-color: rgb(63, 138, 224);

	&__container {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 100px 150px 50px 150px;
		background-color: white;
		border-radius: 4px;
		font-size: 13px;
		font-weight: 500;
		line-height: 16px;

		& > * {
			margin: 0 auto;
			text-align: center;
		}
	}

	&__confirm-phone {
		margin-top: 50px;
		margin-bottom: 20px;
	}

	&__credentials {
		border: 1px solid rgb(215, 216, 217);
		border-radius: 8px;
	}

	&__conditions {
		font-weight: 300;
		line-height: 1;
		margin-top: 194px;
		a {
			display: inline;
			color: rgb(63, 138, 224);
			font-weight: 400;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}
