.message-input-attachment {
  align-items: center;
  background-color: var(--dt-grafit-wt-kingBlueLight-transparent);
  border-radius: 6px;
  display: flex;
  flex: 0 0 135px;
  flex-wrap: nowrap;
  height: 40px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;

  &__type-icon {
    color: #fff;
    margin: 8px 11px;
    z-index: 5;
    height: 24px;
    width: 24px;
  }

  &__bg {
    height: 100%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 0;
  }

  &__progress {
    background-color: var(--msg-bg-dt-gray-lt-kingBlueLight);
    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all var(--ANIMATION-DURATION);
    z-index: 2;

    &--photo {
      background-color: var(--upload-photo-progress);
    }
  }

  &__data {
    z-index: 5;
  }

  &__title {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 14px;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__size {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 14px;
    margin-top: 3px;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 2px;
    z-index: 5;

    svg {
      color: #fff;
      height: 8px;
      width: 8px;
    }
  }
}
