.messenger {
  background: var(--chat-bg-dt-dark-wt-whiter);
  display: grid;
  grid-template-columns: 80px 347px 1fr;
  grid-template-rows: 64px 1fr;
  height: 100vh;

  &__friends {
    background-color: var(--dt-dark-wt-white);
  }

  &__chats {
    background-color: var(--dt-dark-wt-white);
  }

  &__settings-navigation {
    background-color: var(--dt-dark-wt-white);
    grid-row: 1/-1;
  }

  &__main-data {
    align-items: center;
    display: flex;
    grid-column: 3/-1;
    grid-row: 1/-1;
    justify-content: center;
  }

  &__settings-data {
    grid-column: 3/-1;
    grid-row: 1/-1;
    height: 100vh;
    overflow: auto;
  }

  &__chat-send {
    display: flex;
    position: relative;
    flex-direction: column;
    grid-column: 3/-1;
    grid-row: 2/3;
    height: calc(100vh - 64px);
    overflow: auto;
    transition: all 0.3s;
  }

  &__info {
    grid-column: 4/5;
  }
}
