.delete-message-modal {
  margin-top: 24px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 26px;
    margin-right: 16px;
  }

  &__delete-all {
    display: flex;
    align-items: center;
    margin-top: -9px;
  }

  &__btn-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: 16px;
    color: var(--white);
  }

  &__confirm-btn {
    padding: 10px 32px;
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--red);
    border-radius: 6px;
  }
  &__cancel-btn {
    padding: 10px 32px;
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: transparent;
    margin-left: auto;
    margin-right: 13px;
  }
}
