.check-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover &__checked {
    box-shadow: 0px 3px 6px var(--box-shadow-2);
  }

  &:hover &__unchecked {
    box-shadow: 0px 3px 6px var(--box-shadow-2);
  }

  &__disabled {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 16px;
    box-sizing: border-box;

    border: 1.5px solid rgba(255, 255, 255, 0.14);
    background: var(--disabled-input);
  }

  &__unchecked {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 16px;
    box-sizing: border-box;

    border: 1.5px solid rgba(255, 255, 255, 0.14);
    background: var(--chat-bg-dt-dark-wt-kingBlue-lighter);
  }

  &__checked {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 16px;
    box-sizing: border-box;
  }

  &__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: var(--dt-white-wt-dark);
  }
}
