.modal {
  background-color: var(--dt-dark-wt-white);
  border-radius: 4px;
  box-shadow: 0 7px 12px var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;

  &__title {
    align-items: center;
    color: var(--dt-white-wt-dark);
    display: flex;
    font-size: 1rem;
    font-weight: normal;
    line-height: 19px;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__close-btn {
    color: var(--dt-white-wt-kingBlue);
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
  }

  &__content {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;

    margin-bottom: 22px;

    &__text-wrapper {
      margin-bottom: 15px;
      margin-top: 23px;
      width: 340px;
    }

    &__text {
      &--highlighted {
        color: rgb(63, 138, 224);
        font-weight: 500;
      }
    }
  }

  &__btn-block {
    display: flex;
    justify-content: flex-end;
  }
}
