* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: inherit;
  outline: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-family: 'SFUI Text';
}

button {
  border: 0;
  border-radius: 0;
  color: black;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }
}

.background-blur {
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
}

[hidden] {
  display: none;
}

.hidden {
  visibility: hidden;
  height: 0 !important;
  width: 0;
  height: 0;
}

.completly-hidden {
  display: none;
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  display: inherit;
  text-decoration: inherit;
  font-style: inherit;
}

.pointer {
  cursor: pointer;
}

.react-draggable {
  z-index: 500 !important;
  overflow: hidden;
}

.dragging {
  pointer-events: none;
}

//fonts
@font-face {
  font-family: 'SFUI Text';
  font-style: normal;
  font-weight: 400;
  src: local('SF UI Text Regular'), url('./assets/fonts/SFUIText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SFUI Text';
  font-style: normal;
  font-weight: 300;
  src: local('SF UI Text Light'), url('./assets/fonts/SFUIText-Light.woff') format('woff');
}

@font-face {
  font-family: 'SFUI Text';
  font-style: normal;
  font-weight: 500;
  src: local('SF UI Text Medium'), url('./assets/fonts/SFUIText-Medium.woff') format('woff');
}
