//fonts

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
}

body {
  font-family: Rubik;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: inherit;
  outline: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--chat-bg);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--white);
  }
}

button {
  border: 0;
  border-radius: 0;
  color: black;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }
}

[hidden] {
  display: none;
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  display: inherit;
  text-decoration: inherit;
  font-style: inherit;
}

//variables

:root {
  //primary colors
  --dark: #262c38;

  --grafit: #373f51;
  --grafit-light: rgba(#373f51, 0.7);
  --grafit-lighter: rgba(#373f51, 0.5);

  --chat-bg: #32394a;

  --msg-bg: #4a5466;

  --input-bg: rgba(#4a5466, 0.6);

  --modals-bg: rgba(#0f1729, 0.7);
  --modals-bg-photo: rgba(#0f1729, 0.9);

  --white: #ffffff;
  --white-semi-transparent: rgba(255, 255, 255, 0.5);
  --white-dark: rgba(#ffffff, 0.14);
  --white-darker: rgba(255, 255, 255, 0.04);

  //secondary colors
  --blue: #30598b;
  --king-blue: #3f8ae0;
  --king-blue-transparent: rgba(63, 138, 224, 0.25); //rgba(#3f8ae0, 0.5);

  --red: #c74848;
  --red-transparent: rgba(#c74848, 0.15);

  --error-bg: #483e4a;

  //critical colors

  --alert: #fce4e3;

  --success: #598e57;

  --success-1: #ebfaf5;

  --info: #e4f0fb;

  --warning: #ebad34;

  --warning-1: #fdf8ef;
}
