//fonts

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
}

body {
  font-family: Rubik;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: inherit;
  outline: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
}

button {
  border: 0;
  border-radius: 0;
  color: black;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }
}

[hidden] {
  display: none;
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  display: inherit;
  text-decoration: inherit;
  font-style: inherit;
}

//variables

:root {
  --primary: #373f51;
  --primary-darker: #32394a;
  --primary-darkest: #262c38;
  --secondary: #3f8ae0;
  --ternary: #ffffff;
}
