.country-select {
  position: relative;

  &__input {
    width: 398px;
    box-sizing: border-box;
    height: 51px;
    border: none;
    text-indent: 20px;
    border-bottom: 1px solid rgb(215, 216, 217);
    background: transparent;
  }

  &__input-svg {
    display: block;
    position: absolute;
    top: 18px;
    right: 16px;
    height: 16px;
    width: 16px;
    pointer-events: none;
    color: var(--secondary);
    display: block;
    cursor: pointer;
    transition: all 0.2s;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__country {
    display: flex;
    align-items: baseline;
    padding: 9px 20px 9px 20px;
    box-sizing: border-box;

    &:hover {
      background-color: rgba($color: #3f8ae0, $alpha: 0.1);
    }
  }

  &__countries {
    max-height: 284px;
    position: absolute;
    left: -1px;
    top: 20;
    border: 1px solid #d7d8d9;
    border-radius: 0px 0px 8px 8px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    width: 100%;

    [data-focus^='true'] {
      background-color: rgba($color: #3f8ae0, $alpha: 0.1);
    }

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  &__country-name {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
  }

  &__number {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #979797;
    margin-left: auto;
  }
}
