.blocked-users {
  border-radius: 6px;
  margin-top: 36px;

  &__details {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 32px;
    color: var(--dt-white-wt-dark);
  }

  &__content {
    margin-top: 32px;
  }

  &__header {
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-top: -6px;

    span {
      color: var(--dt-white-wt-dark);
      font-size: 24px;
      font-weight: normal;
      line-height: 28px;
    }

    &__open {
      margin-left: auto;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #3f8ae0;

      svg {
        transition: all 0.2s;
        color: #3f8ae0;
        height: 11px;
        transform: rotate(0deg);
      }

      span {
        color: #3f8ae0;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin-right: 8px;
      }

      &--opened {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}
