.blocked-users {
  background: var(--dt-dark-wt-bright-blue);
  border-radius: 6px;
  margin-top: 36px;

  &__header {
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 18px 20px;

    span {
      color: var(--dt-white-wt-dark);
      font-size: 24px;
      font-weight: normal;
      line-height: 28px;
    }

    &__open {
      margin-left: auto;
      transition: all 0.2s;

      svg {
        color: var(--dt-white-wt-kingBlue);
        height: 24px;
        width: 24px;
      }

      &--opened {
        transform: rotate(90deg);
      }
    }
  }
}
