.modal-country-select {
	position: relative;

	&__label {
		color: rgb(151, 151, 151);
		font-size: 11px;
		line-height: 16px;
		font-weight: 400;
		margin-bottom: 1px;
	}

	&__input-wrapper {
		position: relative;
		border: 1px solid #d7d8d9;
		border-radius: 4px;

		&--acute {
			border-radius: 4px 4px 0 0;
		}
	}

	&__input {
		width: 100%;
		box-sizing: border-box;
		height: 38px;
		border: none;
		text-indent: 12px;
		background: transparent;
		line-height: 16px;
		font-size: 13px;
		font-weight: 400;
	}

	&__input-svg {
		display: block;
		position: absolute;
		top: 11px;
		right: 14px;
		pointer-events: none;
		width: 16px;
		height: 16px;
		color: #3f8ae0;
	}

	&__country {
		display: flex;
		align-items: baseline;
		padding: 9px 20px 9px 20px;
		box-sizing: border-box;

		&:hover {
			background-color: rgba($color: #3f8ae0, $alpha: 0.1);
		}
	}

	&__countries {
		max-height: 284px;
		position: absolute;
		left: -1px;
		top: 38px;
		border: 1px solid #d7d8d9;
		border-radius: 0px 0px 8px 8px;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: white;
		z-index: 55;
		width: 100%;

		[data-focus^='true'] {
			background-color: rgba($color: #3f8ae0, $alpha: 0.1);
		}

		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	&__country-name {
		line-height: 16px;
		font-size: 13px;
		font-weight: 400;
	}

	&__number {
		font-size: 13px;
		line-height: 16px;
		font-weight: 400;
		color: #979797;
		margin-left: auto;
	}
}
