.message-error {
  display: flex;
  background-color: var(--dt-dark-wt-pink);
  box-sizing: border-box;
  position: relative;
  align-items: center;
  padding: 12px 24px 12px 36px;
  border-radius: 6px 6px 0px 0px;

  &__icon {
    margin-right: 31px;
    svg {
      height: 24px;
      width: 24px;
      color: #c74848;
    }
  }

  &__description {
    color: #c74848;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__btn-group {
    margin-left: auto;
    display: flex;
  }

  &__btn-separator {
    width: 1px;
    height: 28px;
    background: rgba(63, 138, 224, 0.25);
  }

  &__btn {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

    &--retry {
      color: #3f8ae0;
      margin-right: 13px;
    }

    &--dismiss {
      color: #c74848;
      margin-left: 13px;
    }
  }
}
