.add-call-modal {
  min-width: 335px;

  &__friends-block {
    max-height: 320px;
    margin-top: -8px;
    overflow: auto;

    &__avatar-group {
      position: relative;
    }

    & > * {
      cursor: auto;
    }
  }

  &__call {
    color: var(--dt-white-wt-kingBlue);
    margin-right: 7px;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__confirm-btn {
    padding: 10px 27px;
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: var(--dt-kingBlue-wt-kingBlueLight);
    border-radius: 6px;
  }

  &__cancel-btn {
    padding: 10px 32px;
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    background: transparent;
    margin-left: auto;
    margin-right: 16px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    color: var(--dt-white-wt-kingBlue);
  }

  &__search-container {
    position: relative;
    width: 100%;
    margin: 0 0 8px 0;
  }

  &__search {
    &__icon {
      height: 16px;
      width: 16px;
      left: 16px;
    }

    &__input {
      height: 32px;
      text-indent: 50px;
    }
  }
}
