.message-input {
  $this: &;

  position: relative;
  background-color: var(--dt-grafit-wt-white);

  &__drag {
    flex: 0 1 64px;
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: center;
    box-sizing: border-box;
    color: #99a2ad;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    pointer-events: none;

    &--active {
      color: var(--dt-kingBlue-wt-kingBlueLight);
      border: 2px dashed var(--dt-kingBlue-wt-kingBlueLight);
    }
  }

  &__send-message {
    flex: 0 1 64px;
    height: auto;
    min-height: 64px;
    display: flex;
    align-items: center;
  }

  &__add {
    color: #3f8ae0;
    margin: 0 33px 0 36px;
  }

  &__line {
    height: 40px;
    width: 1px;
    background-color: var(--dt-white-wt-dark);
    margin-right: 17px;
  }

  &__crayon {
    color: var(--dt-white-wt-dark);
    margin-right: 16px;
  }

  &__red-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 40px;
    background-color: red;
    animation: pulse 2s infinite;
  }

  &__input-message {
    overflow: auto;
    height: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: block;
    border: none;
    width: calc(100% - 52px);
    white-space: pre-line;
    resize: none;
    background: transparent;
    color: var(--dt-white-wt-dark);

    &:focus {
      outline: none;
    }
  }

  &__recording-info {
    line-height: 20px;
    text-align: center;
    width: 100%;
  }

  &__counter {
    margin-left: 15px;
  }

  &__right-btns {
    display: flex;
    position: relative;
    margin-left: auto;
  }

  &__smiles-btn {
    margin-right: 36px;
    color: var(--dt-white-wt-dark);
  }

  &__voice-btn {
    color: var(--dt-white-wt-dark);
    margin-right: 32px;
  }

  &__send-btn {
    color: var(--dt-kingBlue-wt-kingBlueLight);
    margin-right: 24px;
  }

  &__edit-confirm {
    padding: 11px 30px;
    background-color: rgb(63, 138, 224);
    border-radius: 4px;
    color: var(--dt-white-wt-dark);
    margin-right: 20px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }

  &__attachments-box {
    background: var(--dt-dark-wt-bright-blue);
    overflow: hidden;

    display: flex;

    &__container {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 12px 24px 12px 22px;
      margin-left: 16px;
      margin-right: 29px;
      flex: 1;
    }

    &__delete-all {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 20px;
      margin-top: 20px;
      margin-left: auto;

      svg {
        color: var(--dt-white-wt-kingBlue);
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
