.search-box {
  &__input-wrapper {
    position: relative;
    width: calc(100% - 40px);
    margin: 16px 20px 10px 20px;
  }

  &__input {
    height: 40px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.14);
    display: block;
    border: none;
    text-indent: 43px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--ternary);

    &__svg {
      position: absolute;
      top: 8px;
      left: 7px;
      color: rgb(153, 162, 173);
    }

    &::placeholder {
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
}
