#cube-loader {
  align-items: center;
  background-color: var(--dt-kingBlue-wt-kingBlueLight);
  display: flex;
  height: 100vh;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;

  & .caption {
    margin: 0 auto;
  }

  .cube-loader {
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    transform: rotateZ(45deg);
    width: 73px;

    & .cube {
      float: left;
      height: 50%;
      position: relative;
      transform: rotateZ(45deg) scale(1.1);
      width: 50%;
    }

    & .cube::before {
      animation: cube-loader 2.76s infinite linear both;
      background-color: var(--dt-white-wt-dark);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform-origin: 100% 100%;
      width: 100%;
    }

    & .loader-2 {
      transform: scale(1.1) rotateZ(90deg);
    }

    & .loader-3 {
      transform: scale(1.1) rotateZ(180deg);
    }

    & .loader-4 {
      transform: scale(1.1) rotateZ(270deg);
    }

    & .loader-2::before {
      animation-delay: 0.35s;
    }

    & .loader-3::before {
      animation-delay: 0.69s;
    }

    & .loader-4::before {
      animation-delay: 1.04s;
    }
  }
}

@keyframes cube-loader {
  0%,
  10% {
    opacity: 0;
    transform: perspective(136px) rotateX(-180deg);
  }

  25%,
  75% {
    opacity: 1;
    transform: perspective(136px) rotateX(0deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: perspective(136px) rotateY(180deg);
  }
}
