.chat-member {
  display: flex;
  margin-left: 24px;
  margin-top: 16px;

  &__avatar {
    color: var(--dt-grafit-wt-white);
    margin-right: 18px;
    display: grid;

    &--owner {
      margin-right: 14px;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name-line {
    display: flex;
    margin-top: 5px;
    width: 230px;
    justify-content: space-between;
    cursor: auto;
  }

  &__name {
    color: var(--dt-white-wt-dark);
    font-size: 1rem;

    font-weight: normal;
    line-height: 19px;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__status {
    color: var(--dt-white-wt-dark);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 17px;
  }

  &__owner {
    color: #3f8ae0;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 17px;
    margin-left: 18px;
  }

  &__group-chat-status {
    align-items: center;
    color: var(--dt-kingBlue-wt-kingBlueLight);
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: auto;
  }

  &__delete-user {
    margin: 12px 24px 0 auto;

    svg {
      color: var(--dt-white-wt-dark);
      height: 20px;
      width: 18px;
    }
  }
}
