.login-page {
	min-height: 100vh;
	position: relative;
	background-color: rgb(63, 138, 224);

	&__container {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 100px 150px 50px 150px;
		background-color: white;
		border-radius: 4px;
		font-size: 13px;
		font-weight: 500;
		line-height: 16px;

		& > * {
			margin: 0 auto;
			text-align: center;
		}
	}

	&__confirm-phone {
		margin-top: 50px;
		margin-bottom: 20px;
	}

	&__confirm-code {
		margin-top: 50px;
		margin-bottom: 15px;
	}

	&__code-sent {
		color: rgb(151, 151, 151);
		margin-bottom: 50px;
	}

	&__timer {
		color: rgb(151, 151, 151);
	}

	&__button {
		background-color: rgb(63, 138, 224);
		color: white;
		border-radius: 4px;
		width: 100%;
		padding: 16px 1px;
		margin-top: 20px;
		width: 400px;

		&--code-confirmation {
			margin-bottom: 160px;

			&:disabled {
				background-color: rgba(63, 138, 224, 0.7);
			}
		}

		&--resend-code {
			padding: 12px 30px;
			width: auto;
			border-radius: 4px;
			border: 1px solid #3f8ae0;
			color: #3f8ae0;
			background-color: rgba(63, 138, 224, 0.1);
			margin: 0 auto;
			display: block;
			margin-bottom: 168px;
		}
	}

	&__credentials {
		border: 1px solid rgb(215, 216, 217);
		border-radius: 8px;
	}

	&__conditions {
		font-weight: 300;
		line-height: 1;
		margin-top: 194px;
		a {
			display: inline;
			color: rgb(63, 138, 224);
			font-weight: 400;

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}

	&__inputs-container {
		display: flex;
		margin-bottom: 20px;
	}

	&__code-input {
		width: 86px;
		height: 60px;
		border-radius: 8px;
		margin-right: 16px;
		border: 1px solid rgb(215, 216, 217);
		text-align: center;
		font-weight: 400;
		font-size: 17px;
		line-height: 16px;

		&:focus {
			border: 1px solid rgb(63, 138, 224);
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
