.emoji-wrapper {
  bottom: 56px;
  opacity: 1;
  position: absolute;
  right: 25px;
  transition: opacity 0.03s ease-in-out;
  visibility: visible;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
}
