.chat-audios {
  &__separator {
    text-transform: capitalize;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    color: var(--king-blue);

    &:first-child {
      margin-top: 16px;
    }
  }

  &__audio {
    margin-top: 16px;
  }
}
