.recording-attachment {
	margin-top: 10px;
	width: 356px;

	&__btn {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #3f8ae0;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 16px;
			height: 16px;
		}
	}

	&__title {
		color: #3f8ae0;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
	}

	.rhap {
		&_container {
			padding: 0 0;
			box-shadow: none;
		}

		&_progress {
			&-section {
				flex: 1 1 auto;
			}

			&-indicator {
				background-color: white;
				border: 2px solid #3f8ae0;
				height: 10px;
				transform: translateX(5px);
				width: 10px;
				top: -3px;
			}

			&-container {
				margin-right: 10px;
				margin-left: 0px;
			}

			&-bar {
				height: 4px;
				border-radius: 1px;
			}
		}

		&_controls-section {
			display: flex;
			flex: 0 1 auto;
			justify-content: space-between;
			align-items: center;
			margin-right: 0px !important;
		}

		&_current-time {
			font-size: 11px;
			line-height: 12px;
			font-weight: 400;
			margin-top: auto;
			margin-bottom: auto;
		}

		&_button-clear {
			width: 30px;
			height: 30px;
			margin: 0;
			margin-right: 10px;
		}
	}
}

$rhap_theme-color: #3f8ae0;
$rhap_bar-color: rgba(#3f8ae0, 0.2);
$rhap_time-color: #3f8ae0;

@import '../../../../../../../node_modules/react-h5-audio-player/src/styles.scss';
