.add-friends-modal {
  margin-top: 30px;
  position: relative;

  &__btn-block {
    margin-top: 69px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 24px;
    margin-right: 16px;
    width: 24px;
  }

  &__error {
    align-items: center;
    background: #c74848;
    border-radius: 6px;
    bottom: -50px;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    position: absolute;
    width: calc(100% - 40px);

    span {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 14px;
    }

    &__close {
      color: #fff;
      margin-left: auto;

      svg {
        height: 10px;
        width: 10px;
      }
    }
  }

  &__success {
    align-items: center;
    background: var(--msg-bg-dt-gray-lt-grayLight);
    border-radius: 6px;
    bottom: 68px;
    color: var(--dt-white-wt-dark);
    display: flex;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: calc(100% - 56px);

    span {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 14px;
    }
  }

  &__btn {
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    padding: 10px 30px;

    &--cancel {
      margin-left: auto;
    }

    &--confirm {
      background: #3f8ae0;
      --bg-color: #3f8ae0;

      color: #fff;
      margin-left: 20px;
      transition: all var(--ANIMATION-DURATION);

      &:hover {
        box-shadow: 0 3px 6px rgba(14, 22, 43, 0.62);
      }

      &:disabled {
        background: var(--disabled-btn);
        --bg-color: var(--disabled-btn);
        color: var(--disabled-btn-text);
      }
    }
  }

  &__user {
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 340px;

    &__avatar {
      margin-bottom: 8px;
    }

    &__name {
      color: var(--dt-white-wt-dark);
      font-size: 1rem;
      font-weight: normal;
      line-height: 19px;
      margin-bottom: 14px;
    }

    &__phone {
      color: var(--dt-white-wt-dark);
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 17px;
      margin-bottom: -17px;
    }
  }
}
