.routing-chats {
  grid-row: 1/-1;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background: #373f51;

  &__my-photo {
    height: 48px;
    width: 48px;

    margin-top: 8px;
    margin-bottom: 25px;
  }

  &__middle-group {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__link {
    display: block;
    color: white;
    transition: all 0.2s;
    padding: 26px 25px;

    &--settings {
      margin-bottom: 48px;
    }

    &--grouped {
      margin-bottom: 35px;
    }

    &--logout {
      padding: 13px;
    }

    &--active {
      background-color: #262c38;
      color: #3f8ae0;
    }
  }
}
