.appearance {
  padding: 32px 40px;

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 28px;
    font-weight: normal;
    line-height: 33px;
    margin-bottom: 40px;
  }

  &__theme {
    color: var(--dt-white-wt-dark);
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  &__theme-box {
    background: var(--dt-dark-wt-whiter);
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 40px;
    max-height: 400px;
    overflow: auto;
    padding: 0 32px 32px 0;

    &__msg-wrapper {
      margin-bottom: 15px;
      margin-left: -60px;
      pointer-events: none;
    }
  }

  &__theme-select {
    background: var(--dt-dark-wt-bright-blue);
    border-radius: 6px;
    margin-top: 16px;

    & > * {
      padding: 18px 40px;

      span {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        margin-left: 7px;
      }
    }
  }

  &__font-size-title {
    color: var(--dt-white-wt-dark);
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    margin-top: 40px;
  }

  &__font-sizes {
    display: flex;
    margin-top: 34px;
  }

  &__font-size {
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    line-height: 14px;
    position: relative;

    span {
      display: block;
    }

    &--active {
      color: #3f8ae0;
      font-weight: bold;
    }

    &--12 {
      font-size: 12px;
      margin-left: 4.1%;
    }

    &--14 {
      font-size: 14px;
      margin-left: 10%;
    }

    &--16 {
      font-size: 16px;
      margin-left: 10.2%;
    }

    &--18 {
      font-size: 18px;
      margin-left: 10%;
    }

    &--24 {
      font-size: 24px;
      margin-left: auto;
      margin-right: 5.5%;
    }
  }

  &__font-progress-circle {
    background: #3f8ae0;
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: -37px;
    box-sizing: border-box;
    height: 28px;

    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 28px;

    &--transparent {
      opacity: 0;
    }
  }

  &__font-progress {
    background: #3f8ae0;
    border-radius: 6px;
    box-shadow: inset -2px 2px 4px rgba(46, 101, 164, 0.2),
      inset 2px -2px 4px rgba(46, 101, 164, 0.2), inset -2px -2px 4px rgba(80, 175, 255, 0.9),
      inset 2px 2px 5px rgba(46, 101, 164, 0.9);
    height: 20px;
    margin-top: 14px;
  }
}
