.messenger {
	&__chat-list {
		border-right: 1px solid rgba(#000, 0.2);
		overflow-y: scroll;
		max-height: calc(100vh - 50px);
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		.loader {
			& > * {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 15px;
			}
		}
	}
}
