.chat-member {
  display: flex;
  margin-left: 24px;
  margin-top: 16px;

  &__avatar-container {
    margin-right: 18px;
    height: 48px;
    width: 48px;
    color: var(--dt-grafit-wt-kingBlue);

    &--owner {
      height: 52px;
      width: 52px;
      margin-right: 14px;
    }
  }

  &__avatar {
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name-line {
    margin-top: 5px;
    display: flex;
  }

  &__name {
    white-space: nowrap;
    color: var(--dt-white-wt-dark);
    font-size: 16px;
    line-height: 19px;

    font-weight: normal;
  }

  &__status {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dt-white-wt-dark);
  }

  &__owner {
    margin-left: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dt-kingBlue-wt-kingBlueLight);
  }

  &__group-chat-status {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--dt-kingBlue-wt-kingBlueLight);
    font-size: 12px;
    font-weight: 400;
  }

  &__delete-user {
    margin: 12px 24px 0 auto;

    svg {
      width: 18px;
      height: 20px;
      color: var(--dt-white-wt-dark);
    }
  }
}
