.chat-member {
  display: flex;
  margin-bottom: 14px;
  margin-left: 16px;

  &__avatar {
    height: 48px;
    width: 48px;
  }

  &__data {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    white-space: nowrap;
    color: var(--ternary);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 3px;
  }

  &__status {
    margin-top: auto;
    font-size: 14px;
    font-weight: 400;
    color: var(--ternary);
    margin-bottom: 5px;
  }

  &__groupChat-status {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--secondary);
    font-size: 12px;
    font-weight: 400;
  }

  &__delete-user {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
