.messenger__friend-item {
	display: flex;
	align-items: center;

	margin-top: 5px;

	padding: 10px 0px;

	&:hover {
		background-color: darken(#fff, 20);
	}

	&__avatar {
		margin-left: 15px;
	}

	&__name {
		margin-left: 15px;
	}

	&__supposed {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #697cff;
		margin-left: auto;
		margin-right: 30px;
		border: 2px solid #eee;
		svg {
			width: 16px;
			height: 16px;
			fill: white;
		}

		&--true {
			opacity: 1;
		}

		&--false {
			opacity: 0;
		}
	}
}
