.chat-item {
  padding: 8px 20px 8px 20px;
  display: flex;
  align-items: stretch;
  background-color: var(--dt-dark-wt-white);
  color: var(--dt-dark-wt-white);
  position: relative;

  &:hover {
    background-color: var(--chat-bg-dt-dark-wt-whiter);
    color: var(--chat-bg-dt-dark-wt-whiter);
  }

  &__heading {
    display: flex;
  }

  &__contents {
    justify-content: flex-start;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &--active {
    background-color: var(--chat-bg-dt-dark-wt-whiter);
    color: var(--chat-bg-dt-dark-wt-whiter);
  }

  &__status {
    color: var(--dt-white-wt-dark);
    margin: 2px 3px 0 auto;
  }

  &__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    white-space: nowrap;
    color: var(--dt-white-wt-dark);
    margin-top: 3px;
  }

  &__avatar {
    width: 48px;
    height: 48px;
  }

  &__avatar-container {
    margin-right: 20px;
  }

  &__name {
    margin-top: 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);
    margin-bottom: 8px;
    max-width: max-content;
  }

  &__last-message {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dt-white-wt-dark);
    font-feature-settings: 'pnum' on, 'lnum' on;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70%;
    text-overflow: ellipsis;
  }

  &__count {
    background-color: var(--dt-grafit-wt-kingBlue);
    color: #fff;
    padding: 4px 7px;
    border-radius: 6px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    position: absolute;
    top: 30px;
    right: 20px;

    &--muted {
      background-color: #6d7885;
    }
  }
}
