.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: var(--dt-dark-wt-white);
  border-radius: 4px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 7px 12px var(--box-shadow-1);

  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);
    display: flex;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__close-btn {
    height: 24px;
    width: 24px;
    color: var(--dt-white-wt-kingBlue);
    display: block;
    cursor: pointer;
  }

  &__content {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 22px;
    color: var(--dt-white-wt-dark);

    &__text-wrapper {
      margin-top: 23px;
      margin-bottom: 15px;
      width: 340px;
    }

    &__text {
      &--highlighted {
        font-weight: 500;
        color: rgb(63, 138, 224);
      }
    }
  }

  &__btn-block {
    display: flex;
    justify-content: flex-end;
  }
}
