.chat-members {
  margin-top: 30px;

  &__heading-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &__heading {
    color: #3f8ae0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 21px;
    margin-left: 24px;
  }

  &__open-arrow {
    color: #3f8ae0;
    margin-left: auto;
    margin-right: 24px;
    transform: rotate(-90deg);
    transition: all var(--ANIMATION-DURATION);

    svg {
      height: 8px;
      width: 14px;
    }

    &--rotated {
      transform: rotate(0deg);
    }
  }

  &__search {
    margin-right: 7px;
  }

  &__search-container {
    height: 32px;
    margin: 16px 0 19px 24px;

    svg {
      height: 18px;
      left: 18px;
      width: 18px;
    }

    input {
      font-weight: 300;
      height: 32px;
      text-indent: 58px;
    }
  }

  &__members-list {
    margin-top: -12px;
    margin-bottom: 16px;
  }
}
