.interlocutor-info {
  &__info-block {
    align-items: center;
    display: flex;
    margin-left: 24px;
    margin-top: 16px;

    &:first-of-type {
      margin-top: 24px;
    }
  }

  &__interlocutor-data {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 24px;
    position: relative;
  }

  &__chat-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__interlocutor {
    color: var(--dt-white-wt-dark);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }

  &__description {
    color: var(--dt-white-wt-dark);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 16px;
    text-align: center;
  }

  &__rename-btn {
    color: #3f8ae0;
    display: block;
    position: absolute;
    right: 25px;
    top: 25%;

    svg {
      height: 18px;
      width: 18px;
    }
  }

  &__info-svg {
    color: var(--dt-white-wt-dark);
    display: block;
    height: 18px;
    margin-right: 16px;
    width: 18px;
  }

  &__data-value {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    line-height: 17px;

    &--link {
      color: #3f8ae0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
