.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 24px 32px 22px 32px;
	background-color: white;
	border-radius: 4px;
	z-index: 50;
	display: flex;
	flex-direction: column;

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__close-btn {
		height: 16px;
		width: 16px;
		display: block;
		cursor: pointer;
	}

	&__contents {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 22px;
		max-width: 376px;
		min-width: 376px;

		&__text {
			&--highlighted {
				font-weight: 500;
				color: rgb(63, 138, 224);
			}
		}
	}

	&__btn-block {
		display: flex;
	}

	&__btn-base {
		padding: 16px 49.5px;
		border-radius: 4px;
	}
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 0;
	transition: opacity 0.2s;
}

.fade-done {
	opacity: 1;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 0.3s;
}

.fade-exit-done {
	opacity: 0;
}
