.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background-color: var(--chat-bg);
  border-radius: 4px;
  z-index: 50;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__close-btn {
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
  }

  &__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 22px;
    max-width: 376px;
    min-width: 376px;

    &__text {
      &--highlighted {
        font-weight: 500;
        color: rgb(63, 138, 224);
      }
    }
  }

  &__btn-block {
    display: flex;
  }
}
