.select-entity {
  &__friend {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    margin-top: 16px;
  }

  &__avatar {
    height: 48px;
    width: 48px;
  }

  &__avatar-container {
    margin-right: 20px;
    color: var(--dt-dark-wt-white);
  }

  &__friend-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__friend-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);
  }

  &__friend-status {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
    color: var(--dt-white-wt-dark);
  }

  &__selected {
    margin-left: auto;
    width: 24px;
    height: 24px;
  }

  &__select {
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.14);
    background: var(--chat-bg-dt-dark-wt-kingBlue-lighter);
  }

  &__icon-holder {
    margin-left: auto;
  }
}
