.selected-messages-data {
  position: absolute;
  top: 0;
  padding: 11px 20px 11px 18px;
  width: 100%;
  background-color: var(--dt-dark-wt-bright-blue);
  z-index: 50;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &__btn {
    padding: 10px 18px;
    color: #fff;
    background-color: #3f8ae0;
    border-radius: 4px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &--delete {
      background-color: var(--red);
    }

    svg {
      margin-right: 10px;
      width: 18px;
    }

    span {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__close {
    margin-left: auto;
    color: var(--dt-white-wt-kingBlue);
  }
}
