.add-call {
  padding: 33px 56px;
  border-radius: 8px;
  background: var(--dt-dark-wt-white);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 7px 12px var(--box-shadow-1);

  &__icon-wrapper {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--chat-bg-dt-dark-wt-kingBlueLight-transparent);
    border-radius: 8px;

    svg {
      color: #3f8ae0;
      width: 64px;
      height: 64px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--dt-white-wt-dark);
    margin-top: 24px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);
    margin-top: 16px;
    max-width: 240px;
    text-align: center;
  }

  &__btn {
    background: #3f8ae0;
    padding: 10px 98px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 24px;
    border-radius: 6px;
    &:hover {
      box-shadow: 0px 3px 6px rgba(14, 22, 43, 0.62);
    }
  }
}
