.change-photo {
	&__btn-group {
		position: absolute;
		bottom: 3%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		z-index: 500;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		justify-content: space-between;
		padding-top: 15px;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		color: white;
		cursor: pointer;
	}

	&__preview {
		display: block;
		font-size: 14px;
		margin-left: 15%;
		color: #6d7885;
	}
	&__modify-btns {
		display: flex;
	}

	&__modify-btn {
		height: 32px;
		width: 32px;
		border-radius: 50%;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			height: 70%;
		}

		&:not(:last-of-type) {
			margin-right: 15px;
		}
	}

	&__confirm-cancel {
		margin-right: 15%;
	}

	&__confirm {
		padding: 11px 13px !important;
		text-align: center !important;
		margin-right: 20px;
	}

	&__cancel {
		padding: 11px 13px;
		text-align: center;
	}
}

.crop-container {
	z-index: 500;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: translate(-50%, -50%);
	& > * {
		z-index: 500;
	}

	&__canvas {
		border-radius: 50%;
	}
}

.ReactCrop__image {
	max-width: 90vw;
	max-height: 70vh;
}
