.blocked-user {
  display: flex;

  &:not(:first-child) {
    margin-top: 16px;
  }

  &__avatar {
    height: 24px;
    margin-right: 24px;
    width: 24px;
  }

  &__name {
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 21px;
  }

  &__unblock {
    color: #fff;
    background-color: var(--msg-bg-dt-gray-lt-red);
    border-radius: 6px;
    padding: 3px 32px;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    margin-left: auto;
  }
}
