.photo-editor {
  max-width: 520px;

  &__crop-container {
    height: 338px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    .ReactCrop {
      max-width: 100%;
      max-height: 100%;

      div {
        max-width: 100%;
        max-height: 100%;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    color: var(--dt-white-wt-kingBlue);
  }

  &__modify-btn {
    &:not(:last-child) {
      margin-right: 78px;
    }
    padding: 9px 20px;
    border-radius: 6px;
    border: 1px solid #3f8ae0;
    color: #3f8ae0;
    position: relative;

    &:focus {
      border: 1px solid #3f8ae0;
    }

    &:hover > * {
      opacity: 1;
    }
  }

  &__btn {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 30px;
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border-radius: 6px;

    &--confirm {
      background: #3f8ae0;
      color: #fff;
    }

    &--cancel {
      background: transparent;
      margin-left: auto;
      margin-right: 13px;
    }
  }
}

.crop-container {
  z-index: 50;
  display: flex;
  align-items: center;
  flex-direction: column;
  & > * {
    z-index: 50;
  }

  &__canvas {
    border-radius: 50%;
  }
}

.ReactCrop__image {
  max-width: 90vw;
  max-height: 70vh;
}
