.change-phone-modal {
  margin-top: 12px;
  margin-bottom: 50px;

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  &__input {
    width: 100%;
    margin-top: 30px;
  }

  &__btn {
    padding: 10px 17px;
    border-radius: 6px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);

    &--cancel {
      background: transparent;
      margin-right: 33px;
    }

    &--submit {
      background: var(--dt-kingBlue-wt-kingBlueLight);
    }

    &:disabled {
      background: var(--blue);
      color: var(--dt-white-wt-dark-dark);
    }
  }

  &__details {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin-top: 16px;
    color: var(--dt-white-wt-dark);
    display: block;
    margin-bottom: -32px;
  }

  &__back-icon {
    svg {
      width: 12px;
      height: 12px;
      color: var(--dt-white-wt-dark);
    }
  }
}
