.logout-modal {
  &__сontent {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--dt-white-wt-dark);
    margin-top: 15px;
    margin-bottom: 11px;
    min-width: 340px;
  }

  &__btn {
    padding: 10px 30px;
    color: var(--dt-white-wt-dark);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border-radius: 6px;

    &--confirm {
      background: var(--dt-kingBlue-wt-kingBlueLight);
    }

    &--cancel {
      background: transparent;
      margin-left: auto;
      margin-right: 23px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    color: var(--dt-white-wt-kingBlue);
  }
}
