.routing-chats {
  align-items: center;
  background: var(--dt-grafit-wt-kingBlue);
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/-1;
  justify-content: center;
  justify-content: space-between;

  &__my-photo {
    height: 48px;
    margin-bottom: 25px;

    margin-top: 8px;
    width: 48px;
  }

  &__middle-group {
    margin-bottom: auto;
    margin-top: auto;
  }

  &__link {
    color: #fff;
    display: block;
    padding: 26px 25px;
    transition: all 0.2s;

    &--settings {
      margin-bottom: 48px;
    }

    &--grouped {
      margin-bottom: 35px;
    }

    &--logout {
      padding: 13px;
    }

    &--active {
      background-color: var(--dt-dark-wt-white);
      color: #3f8ae0;
    }
  }
}
