.audio-video {
  padding: 32px 40px;

  &__video {
    height: 100%;
    left: 0;
    object-fit: contain;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 55;
  }

  &__title {
    color: var(--dt-white-wt-dark);
    font-size: 28px;
    font-weight: normal;
    line-height: 33px;
    margin-bottom: 40px;
  }

  &__subject-title {
    display: flex;
    color: var(--dt-white-wt-dark);

    &:hover {
      color: #3f8ae0;
      cursor: pointer;
    }
  }

  &__subject-icon {
    height: 24px;
    margin-right: 20px;
    width: 24px;
  }

  &__subject-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }

  &__dropdown-wrapper {
    margin-bottom: 32px;
    margin-top: 14px;
  }

  &__intensity-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  &__intensity-indicator {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 7px;
  }

  &__intensity-point {
    background: var(--dt-dark-wt-kingBlue-lighter);
    border-radius: 50%;
    height: 16px;

    margin-right: 32px;
    width: 16px;

    &[data-middle='true'] {
      background: #3f8ae0;
      height: 20px;

      margin-right: 28px;
      width: 20px;
    }

    &[data-active='true'] {
      background: #3f8ae0;
      height: 24px;

      margin-right: 24px;
      width: 24px;
    }
  }

  &__video-area {
    align-items: center;
    min-height: 494px;
    box-sizing: border-box;
    background: var(--dt-dark-wt-kingBlue-lighter);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -4px;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
  }

  &__video-icon {
    color: var(--chat-bg-dt-dark-wt-kingBlue);
    height: 280px;
    width: 300px;
  }

  &__video-btn {
    background: #3f8ae0;
    --bg-color: #3f8ae0;
    border-radius: 6px;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 54px;
    padding: 10px 52px;
  }

  &__stop-video {
    margin-top: 53px;
    background: var(--dt-gray-transparent-wt-kingBlueLight);
    padding: 11px 57px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    z-index: 55;
    color: #fff;
    border-radius: 6px;
    margin-top: auto;
  }
}
