.background-blur {
  backdrop-filter: blur(3px);
  background-color: var(--modals-bg);
  border-radius: 6px;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 50;
}
