.avatar-wrapper {
  position: relative;
}

.avatar {
  align-items: center;
  background-color: var(--avatar-bg);
  border-radius: 6px;
  color: var(--dt-white-wt-dark);
  display: flex;
  flex-shrink: 0;
  font-family: inherit;
  font-size: 1.25rem;
  height: 100%;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 100%;

  &--deleted {
    svg {
      height: 50%;
      width: 50%;
    }
  }
}
