.audio-attachment {
  display: flex;
  align-items: flex-end;
  min-width: 324px;

  &__download {
    background: #3f8ae0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 6px 6px 6px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    min-width: 40px;

    svg {
      width: 24px;
      height: 24px;
      color: #fff;
    }
  }

  &__data {
    display: flex;
    width: calc(100% - 21px);
  }

  &__file-name {
    max-width: 190px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dt-white-wt-dark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__duration {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dt-white-wt-dark);
    margin-left: auto;
  }

  &__play-data {
    flex-grow: 1;
    .rhap {
      &_container {
        padding: 0;
        background: inherit;
        box-shadow: none;
        max-width: 76%;
      }

      &_controls-section {
        display: none;
      }

      &_progress-container {
        margin: 0;
        margin-bottom: -6px;
        margin-top: -6px;
      }

      &_progress-bar {
        height: 4px;
        border-radius: 6px;
        background-color: var(--chat-bg-dt-dark-wt-whiter);
      }

      &_download-progress {
        background: transparent;
      }

      &_progress-indicator {
        height: 6px;
        width: 6px;
        margin-left: 0;
        top: -1px;
      }
    }
  }
}
