.big-photo {
  max-height: 80vh;
  max-width: 80vw;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
  }
}
