.audio-attachment {
  align-items: flex-end;
  display: flex;

  &__download {
    align-items: center;
    background: #3f8ae0;
    border-radius: 0 6px 6px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-right: 10px;
    min-width: 40px;
    width: 40px;

    svg {
      color: #fff;
      height: 24px;
      width: 24px;
    }
  }

  &__data {
    display: flex;
    width: calc(100% - 21px);
  }

  &__file-name {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__duration {
    color: var(--dt-white-wt-dark);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-left: auto;
  }

  &__play-data {
    flex-grow: 1;

    .rhap {
      &_container {
        background: inherit;
        box-shadow: none;
        max-width: 76%;
        padding: 0;
      }

      &_controls-section {
        display: none;
      }

      &_progress-container {
        margin: 0;
        margin-bottom: -6px;
        margin-top: -6px;
      }

      &_progress-bar {
        background-color: var(--chat-bg-dt-dark-wt-whiter);
        border-radius: 6px;
        height: 4px;
      }

      &_download-progress {
        background: transparent;
      }

      &_progress-indicator {
        height: 6px;
        margin-left: 0;
        top: -1px;
        width: 6px;
      }
    }
  }
}
