.media-attachment {
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &__svg {
    color: #fff;
    height: 24px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
  }

  &__duration {
    background-color: rgba($color: #000, $alpha: 0.4);
    border-radius: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 0.6875rem;
    font-weight: 500px;
    left: 10px;
    padding: 3px 8px;
    position: absolute;
    white-space: nowrap;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__blur {
    background: var(--blur-color);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
