.chat-data {
  &__chat-data {
    align-items: center;
    background-color: var(--dt-grafit-wt-white);
    display: flex;
    grid-column: 3/5;
    grid-row: 1/2;
    justify-content: space-between;
    transition: all 0.3s;

    &--little {
      width: calc(100% - 300px);
    }
  }

  &__contact-data {
    cursor: pointer;
    display: flex;
    user-select: none;
  }

  &__contact-img-container {
    color: var(--dt-grafit-wt-white);
    margin-left: 20px;
    margin-right: 18px;
  }

  &__contact-img {
    height: 48px;
    width: 48px;
  }

  &__chat-info {
    align-items: flex-start;
    color: var(--dt-white-wt-dark);
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
    }

    &__info {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 8px;

      &__typing {
        span {
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
          margin-left: 4px;
        }

        svg {
          height: 12px;
          width: 12px;
        }
      }
    }
  }

  &__buttons-group {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    color: var(--dt-white-wt-dark);
    margin-right: 32px;

    &--active {
      color: #3f8ae0;
    }

    &:last-child {
      margin-right: 24px;
    }
  }
}
