.base-btn {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  padding: 14px 0;
  text-align: center;
  transition: all 0.2s;

  &:disabled {
    cursor: revert;
  }

  &__icon {
    margin-right: 6px;
    transition: all 0.2s;
  }

  &__text {
    font-size: 13px;
    font-weight: 500px;
    line-height: 16px;
    transition: all 0.2s;
  }

  &__loader {
    animation: spin 2s linear infinite;
    border: 2px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    border-top: 2px solid var(--dt-kingBlue-wt-kingBlueLight); /* Blue */
    height: 12px;
    margin-right: 6px;
    transition: all 0.2s;
    width: 12px;
    will-change: transform;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
