.audio-video {
  padding: 32px 40px;

  &__video {
    z-index: 55;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }

  &__title {
    color: var(--dt-white-wt-dark);
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 40px;
  }

  &__subject-title {
    display: flex;
  }

  &__subject-icon {
    color: var(--dt-white-wt-dark);
    width: 24px;
    height: 24px;
    margin-right: 20px;

    &:hover {
      color: #3f8ae0;
      cursor: pointer;
    }
  }

  &__subject-text {
    color: var(--dt-white-wt-dark);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &__dropdown-wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__intensity-wrapper {
    display: flex;
    align-items: center;

    &--microphone {
      margin-top: 42px;
    }
  }

  &__intensity-indicator {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 7px;
    margin-left: auto;
  }

  &__intensity-point {
    width: 16px;
    height: 16px;
    background: var(--dt-dark-wt-kingBlue-lighter);
    border-radius: 50%;

    margin-right: 32px;

    &[data-middle='true'] {
      width: 20px;
      height: 20px;
      background: #3f8ae0;

      margin-right: 28px;
    }
    &[data-active='true'] {
      width: 24px;
      height: 24px;
      background: #3f8ae0;

      margin-right: 24px;
    }
  }

  &__video-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    border-radius: 30px;
    background: var(--dt-dark-wt-kingBlue-lighter);
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
  }

  &__video-icon {
    width: 300px;
    height: 280px;
    color: var(--chat-bg-dt-dark-wt-kingBlue);
  }

  &__video-btn {
    padding: 13px 84px;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    margin-top: 30px;
    border-radius: 6px;
    color: #fff;
    background: #3f8ae0;
  }
}
