.internet-error {
  align-items: center;
  background-color: red;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: absolute;
  right: 0;
  top: 70px;
  width: calc(100vw - 346px);

  p {
    color: var(--dt-white-wt-dark);
    font-size: 24px;
  }
}
