body {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  font-family: inherit;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;

  scrollbar-width: thin;
  scrollbar-color: var(--dt-white-wt-kingBlue) transparent;
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--dt-white-wt-kingBlue);
    border-radius: 6px;
    width: 4px;
  }
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: black;
  cursor: pointer;

  &:focus {
    border: none;
    outline: none;
  }

  &:disabled {
    &:hover {
      box-shadow: none;
    }
  }
}

[hidden] {
  display: none;
}

[data-not-clickable='true'] {
  pointer-events: none;
}

a {
  background-color: inherit;
  color: inherit;
  display: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  text-decoration: inherit;
}

input {
  caret-color: currentColor;
}

//variables

:root {
  font-size: 16px;

  --ANIMATION-DURATION: 0.2s;

  //primary colors
  --dt-dark-wt-white: #262c38;
  --dt-dark-wt-bright-blue: #262c38;
  --dt-dark-wt-kingBlueLight: #262c38;
  --dt-dark-wt-kingBlue: #262c38;
  --dt-dark-wt-whiter: #262c38;
  --dt-dark-wt-kingBlueLight-transparenter: #262c38;
  --dt-dark-wt-kingBlueLight-hover: #222732;
  --dt-dark-wt-kingBlue-lighter: #262c38;
  --dt-dark-transparent-wt-kingBlueLight: rgba(38, 44, 56, 0.5);
  --dt-dark-transparent-wt-kingBlueLight-transparent: rgba(38, 44, 56, 0.5);
  --dt-dark-wt-pink: #262c38;
  --dt-gray-transparent-wt-kingBlueLight: rgba(55, 63, 81, 0.5);
  --dt-gray-semi-transparent-wt-kingBlueLight-transparentest: rgba(55, 63, 81, 0.8);

  --dt-kingBlue-transparentest-wt-grayLight: rgba(63, 138, 224, 0.08);

  --dt-darker-wt-bright-blue: #161d2e;

  --dt-grafit-wt-kingBlue: #373f51;
  --dt-grafit-wt-white: #373f51;
  --dt-grafit-wt-kingBlueLight-transparent: #373f51;

  --chat-bg-dt-dark-wt-whiter: #32394a;
  --chat-bg-dt-dark-wt-kingBlue: #32394a;
  --chat-bg-dt-dark-wt-kingBlueLight: #32394a;
  --chat-bg-dt-dark-wt-kingBlue-lighter: #32394a;
  --chat-bg-dt-dark-wt-kingBlueLight-transparent: #32394a;
  --chat-bg-dt-dark-wt-bright-blue: #32394a;
  --chat-bg-dt-dark-wt-grayLight: #32394a;

  --dt-white-wt-darker: #fff;

  --msg-bg-dt-gray-lt-grayLight: #4a5466;
  --msg-bg-dt-gray-lt-kingBlue-lighter: #4a5466;
  --msg-bg-dt-gray-lt-kingBlueLight: #4a5466;
  --msg-bg-dt-gray-lt-bright-blue: #4a5466;
  --msg-bg-dt-gray-lt-red: #4a5466;
  --dt-white-lt-gray: #fff;

  --modals-bg: rgba(15, 23, 41, 0.7);
  --error-bg-themed: #483e4a;
  --disabled-btn: #30598b;
  --disabled-btn-text: rgba(255, 255, 255, 0.14);
  --disabled-input: #464c59;
  --radio-box-bg: rgba(74, 84, 102, 0.6);

  --upload-photo-progress: rgba(38, 44, 56, 0.7);

  --dt-transparent-white-wt-kingBlueLight-transparenter: rgba(255, 255, 255, 0.14);
  --dt-transparent-white-wt-kingBlueLight: rgba(214, 233, 255, 0.5);
  --dt-whiter-wt-bright-blue: rgba(255, 255, 255, 0.14);

  --box-shadow-1: none;
  --box-shadow-2: none;
  --box-shadow-3: none;
  --box-shadow-4: none;
  --box-shadow-5: none;
  --box-shadow-6: none;
  --box-shadow-7: none;
  --box-shadow-8: none;

  --dt-transparent-wt-black: transparent;

  --dt-white-wt-dark: #fff;
  --dt-whiter-wt-dark-kingBlue-transparentest: rgba(255, 255, 255, 0.04);
  --dt-white-wt-kingBlueLight: #fff;
  --dt-white-wt-kingBlue: #fff;
  --dt-semi-transparent-wt-kingBlue: rgba(255, 255, 255, 0.5);
  --dt-semi-transparent-wt-kingBlueLight: rgba(255, 255, 255, 0.5);

  --dt-kingBlue-wt-kingBlueLight: #3f8ae0;
  --dt-kingBlue-wt-grayLight: #3f8ae0;

  --dt-blue-wt-grayLight: #30598b;

  --dt-semi-transparent-white-wt-kingBlueLight-transparent: rgba(255, 255, 255, 0.5);

  --dt-dark-transparent-white-wt-kingBlueLight-transparenter: rgba(74, 84, 102, 0.6);

  --input-empty: rgba(74, 84, 102, 0.6);
  --input-hover: #4a5466;
  --input-active: #4a5466;
  --input-disabled: #464c59;
  --input-placeholder: rgba(255, 255, 255, 0.14);

  --avatar-bg: #161d2e;

  --blur-color: rgba(38, 44, 56, 0.4);
  --blur-color-1: rgba(55, 63, 81, 0.7);
}
