.Toastify {
  $this: &;

  &__toast-container {
    width: 1013px;
    max-width: 71%;
    padding: 0;
  }

  &__toast-body {
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }
    color: #fff;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-grow: 1;

    & > svg {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    & > button {
      margin-left: auto;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-right: 10px;
      color: #262c38;
    }
  }

  &__toast {
    min-height: auto;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 12px 24px 12px 36px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 2px 1px rgba(0, 0, 0, 0.04),
      0px 1px 5px rgba(0, 0, 0, 0.08);

    & > button {
      align-self: center;
      color: #262c38;
      opacity: 1;
    }

    &--default {
      background: #262c38;

      & > button {
        color: #fff;
      }

      & #{$this}__toast-body {
        & > button {
          color: #3f8ae0;
        }
      }
    }

    &--error {
      background: #fce4e3;

      & #{$this}__toast-body {
        color: #c74848;
      }
    }

    &--success {
      background: #ebfaf5;

      & #{$this}__toast-body {
        color: #598e57;
      }
    }

    &--info {
      background: #e4f0fb;

      & #{$this}__toast-body {
        color: #3f8ae0;
      }
    }

    &--warning {
      background: #fdf8ef;

      & #{$this}__toast-body {
        color: #ebad34;
      }
    }
  }
}
