.group-chat-add-friend-modal {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__btn-block {
    margin-top: 22px;
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    color: var(--dt-white-wt-kingBlue);
    height: 26px;
    margin-right: 17px;
  }

  &__select-friends {
    margin-top: 18px;

    &__search {
      height: 32px;
      margin: 0 0 0 0;
      width: 330px;

      svg {
        height: 16px;
        left: 17px;
        width: 16px;
      }

      input {
        font-size: 1rem;
        font-weight: normal;
        line-height: 19px;
        text-indent: 50px;
      }
    }
  }

  &__friends-block {
    max-height: 337px;
    overflow: auto;
    padding-right: 8px;

    & > * {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__btn {
    border-radius: 6px;
    color: var(--dt-white-wt-dark);
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    margin-top: -7px;
    padding: 10px 32px;

    &--cancel {
      background: transparent;
      margin-right: 10px;
    }

    &--confirm {
      background: #3f8ae0;
      --bg-color: #3f8ae0;

      color: #fff;

      &:hover {
        box-shadow: 0 3px 6px var(--box-shadow-5);
      }

      &:disabled {
        background: var(--disabled-btn);
        --bg-color: var(--disabled-btn);
        color: var(--disabled-btn-text);
      }
    }
  }
}
