.new-chat {
  margin-top: -16px;

  &__friends-block {
    max-height: 301px;
    overflow: auto;
  }

  &__icon {
    width: 21px;
    height: 21px;
    margin-right: 17px;
    color: var(--dt-white-wt-kingBlue);
  }

  &__search {
    width: 339px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    svg {
      width: 16px;
      height: 16px;
      left: 17px;
    }

    input {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-indent: 50px;
    }
  }

  &__new-group {
    display: flex;
    margin-top: 16px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;

    &__img {
      background-color: var(--dt-whiter-wt-bright-blue);
      height: 48px;
      width: 48px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: #3f8ae0;
        height: 24px;
        width: 24px;
      }
    }

    &__title {
      color: var(--dt-white-wt-dark);
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      margin-left: 20px;
    }

    &__go {
      position: absolute;
      right: 0;
      svg {
        color: var(--dt-kingBlue-wt-kingBlueLight);
        width: 14px;
      }
    }
  }
}
