.not-found {
  &__bg {
    height: 100vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    z-index: -1;
  }

  &__wrapper {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__svg {
    display: block;
    margin: auto;
  }

  &__title {
    color: #091337;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 48px;
    margin-top: 29px;
    text-align: center;
  }

  &__description {
    color: #6c738a;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 24px;
    margin: 17px auto 38px;
    max-width: 470px;
    text-align: center;
  }

  &__btn {
    display: block;
    font-size: 0.75rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 47px 16px 40px;

    &:hover {
      box-shadow: 0 3px 6px var(--box-shadow-5);
    }
  }
}
