.delete-chat-modal {
	&__confirm-btn {
		margin: 0 !important;
		width: 50% !important;
	}
	&__cancel-btn {
		margin: 0 0 0 10px !important;
		color: #6d7885 !important;
		width: 50% !important;
	}
}
