.settings {
  width: 346px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-slide-enter {
    transform: translateX(100%) translateZ(0);
    transition: transform 200ms linear !important;
    position: absolute;
    top: 0;
  }

  &-slide-enter-active {
    transform: translateX(0%) translateZ(0);
  }

  &-slide-exit {
    transform: translateX(0%) translateZ(0);
    transition: transform 200ms linear !important;
    position: absolute;
    top: 0;
    height: auto;
  }

  &-slide-exit-active {
    transform: translateX(-100%) translateZ(0);
  }

  &__header {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d7d8d9;
    border-right: 1px solid #d7d8d9;
  }

  &__title {
    margin-left: 20px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    color: #3f8ae0;
  }

  &__account-info {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #d7d8d9;
  }

  &__account-avatar {
    height: 60px;
    width: 60px;
  }

  &__account-avatar {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__account-name {
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__account-status {
    font-size: 13px;
    line-height: 16px;
    color: #3f8ae0;
  }

  &__link {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }

  &__link-name {
    font-size: 13px;
    line-height: 18px;
    color: #3f8ae0;
    font-weight: 400;
  }

  &__logout-btn {
    margin-top: auto;
  }
}
