.chat-info {
  height: calc(100vh - 64px);
  background-color: var(--primary);
  width: 348px;
  overflow-y: auto;
  will-change: margin;

  &__close {
    display: block;
    margin-left: auto;
    margin-right: 15px;
    color: white;
    svg {
      height: 24px;
      width: 24px;
    }
  }

  &-slide-enter,
  &-slide-exit {
    transition: margin 200ms linear;
    will-change: margin;
  }

  &-slide-enter {
    margin-right: -300px;
    transition: margin 200ms linear;
  }

  &-slide-enter-active {
    margin-right: 0px;
  }

  &-slide-exit {
    margin-right: 0px;
  }

  &-slide-exit-active {
    margin-right: -300px;
  }

  &__nested {
    &-slide-enter {
      transform: translateX(300px) translateZ(0) !important;
      will-change: transform;
    }

    &-slide-enter-active {
      transition: transform 200ms linear;
      transform: translateX(0px) translateZ(0) !important;
    }

    &-slide-exit {
      transform: translateX(0px) translateZ(0) !important;
      transition: transform 200ms linear;
      will-change: transform;
    }

    &-slide-exit-active {
      transform: translateX(300px) translateZ(0) !important;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &__avatar-group {
    position: relative;
  }

  &__avatar {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    height: 148px;
    width: 148px;
    &:hover + * {
      opacity: 1;
      visibility: visible;
    }
  }
}

.change-avatar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  position: absolute;
  top: -6px;
  right: 91px;
  background: white;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }

  &__svg {
    height: 20px;
    width: 20px;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
}
