.phone-input {
  background: var(--msg-bg-dt-gray-lt-grayLight);
  border-radius: 6px;
  display: flex;
  position: relative;
  width: 339px;

  &__country-code {
    background: transparent;
    border: none;
    border-right: 1px solid var(--msg-bg-dt-gray-lt-grayLight);
    color: var(--dt-white-wt-kingBlue);
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    line-height: 19px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
    width: 45px;
  }

  &__input {
    background: transparent;
    border: none;
    color: var(--dt-white-wt-kingBlue);
    flex-grow: 1;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    line-height: 19px;
    text-indent: 16px;

    &:hover + * {
      background: var(--input-hover);
      box-shadow: 0 3px 6px var(--box-shadow-3);
    }

    &:focus + * {
      background: var(--input-active);
    }

    &:disabled + * {
      background: var(--input-disabled);
    }

    &::placeholder {
      color: var(--input-placeholder);
    }
  }

  &__bg {
    border-radius: 6px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__label {
    background: var(--dt-dark-wt-kingBlue);
    border-radius: 60px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    left: 16px;
    line-height: 14px;
    padding: 2px 8px;
    position: absolute;
    top: -13px;
  }

  &__icon-holder {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
