.recording-attachment {
  cursor: pointer;
  margin-top: 10px;
  width: 356px;

  &__btn {
    align-items: center;
    background-color: var(--dt-kingBlue-wt-kingBlueLight);
    border-radius: 50%;
    color: var(--dt-white-wt-dark);
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  &__title {
    color: var(--dt-kingBlue-wt-kingBlueLight);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  .rhap {
    &_container {
      box-shadow: none;
      padding: 0;
    }

    &_progress {
      &-section {
        flex: 1 1 auto;
      }

      &-indicator {
        background-color: var(--dt-white-wt-dark);
        border: 2px solid var(--dt-kingBlue-wt-kingBlueLight);
        height: 10px;
        top: -3px;
        transform: translateX(5px);
        width: 10px;
      }

      &-container {
        margin-left: 0;
        margin-right: 10px;
      }

      &-bar {
        border-radius: 1px;
        height: 4px;
      }
    }

    &_controls-section {
      align-items: center;
      display: flex;
      flex: 0 1 auto;
      justify-content: space-between;
      margin-right: 0 !important;
    }

    &_current-time {
      font-size: 11px;
      font-weight: 400;
      line-height: 12px;
      margin-bottom: auto;
      margin-top: auto;
    }

    &_button-clear {
      height: 30px;
      margin: 0;
      margin-right: 10px;
      width: 30px;
    }
  }
}

$rhap_theme-color: #3f8ae0;
$rhap_bar-color: rgba(#3f8ae0, 0.2);
$rhap_time-color: #3f8ae0;

@import '../../../../../../node_modules/react-h5-audio-player/src/styles.scss';
