.labeled-input {
  width: 339px;
  height: 40px;
  position: relative;

  &--error {
    background: var(--error-bg-themed);
  }

  &__input {
    height: 100%;
    width: 100%;
    padding: 10px 16px;
    color: var(--dt-white-wt-kingBlue);
    background: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    background: var(--input-empty);
    transition: all 0.2s;

    &:hover {
      box-shadow: 0px 3px 6px var(--box-shadow-3);
      background: var(--input-hover);
    }

    &:focus {
      background: var(--input-active);
    }

    &:disabled {
      background: var(--input-disabled);
    }

    &::placeholder {
      color: var(--input-placeholder);
    }
  }

  &__label {
    padding: 2px 8px;
    position: absolute;
    top: -13px;
    left: 16px;
    background: var(--dt-dark-wt-kingBlue);
    border-radius: 6px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  &__error {
    display: flex;
    bottom: -28px;
    position: absolute;
    margin-left: 16px;
    align-items: center;

    &__icon {
      width: 24px;
      height: 24px;
      color: #c74848;
      margin-right: 3px;
    }

    &__text {
      font-weight: 300;
      font-size: 14px;
      color: #c74848;
      line-height: 17px;
    }
  }
}
