.messenger {
  &__messages-list {
    display: grid;
    align-items: end;
    border-bottom: 1px solid rgba(#000, 0.2);
  }

  &__messages-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
}
