.messages-search {
  margin-right: 10px;
  position: relative;
  display: flex;

  &__search-box {
    position: relative;
    display: inline-flex;
    transition: all var(--ANIMATION-DURATION);
    width: 0px;

    &--open {
      width: 253px;
    }

    &--close {
      width: 0px;
    }
  }

  &__input-container {
    background: var(--chat-bg-dt-dark-wt-whiter);
    height: 32px;
    margin: 0 28px 0 0;
    width: 253px;

    svg {
      height: 18px;

      left: 20px;
      width: 18px;
    }

    input {
      text-indent: 58px;
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: fade var(--ANIMATION-DURATION);
    right: 44px;
    svg {
      height: 18px;
      width: 18px;
      color: var(--dt-white-wt-kingBlue);
    }
  }

  &__pointer-container {
    align-items: center;
    display: flex;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    &__data {
      color: var(--dt-white-wt-dark);
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 14px;
      margin-right: 10px;
    }
  }

  &__pointer-arrows {
    display: flex;
    flex-direction: column;
  }

  &__pointer-arrow {
    svg {
      height: 12px;
    }

    &--top {
      svg {
        color: var(--dt-white-wt-kingBlue);
        transform: rotate(-90deg);
      }
    }

    &--bottom {
      svg {
        color: var(--dt-semi-transparent-white-wt-kingBlueLight-transparent);
        transform: rotate(90deg);
      }
    }
  }
}
